<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Rock Republik Radio</title>
<link rel="stylesheet" type="text/css" href="/rkradio/static/default.css" />
</head>

<body>

<div id="container">
	<div id="header">
		<h1><a href="http://www.rockrepublik.net/">Rock Republik Networks</a></h1>
		<h1><a href="http://www.rkradio.net/">Rock Republik Radio</a></h1>
	</div>
	
	<div id="player">
	<!-- IF MODE == 'kick' -->
	<br /><h2>{MESSAGE}</h2>
	<!-- ENDIF -->
	</div>
</div>

</body>
</html>