<!-- INCLUDE page.header.htm -->

<div class="<!-- BEGIN art -->box2b <!-- END art -->pad12">
<h1 class="red">{L_ART}</h1>
<!-- BEGIN empty -->
<div class="sep2-top orange">{L_ART_EMPTY}</div>
<!-- END empty -->
</div>

<!-- BEGIN art -->
<div class="sep3-top">
<div class="box2t color pad12 ie-widthfix">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<!-- BEGIN row -->
	<tr> 
		<!-- BEGIN col -->
		<td>
		<div class="<!-- IF !(row.S_ROW_COUNT) -->sep-top<!-- ELSE -->sep2-top<!-- ENDIF -->" align="center">
		<div><a href="{col.URL}"><img class="box" src="{col.IMAGE}" /></a></div><div class="sep-top"><small>{col.TITLE}</small></div>
		</div>
		</td>	
		<!-- END col -->
	</tr>
	<!-- END row -->
</table>
</div>
</div>
<!-- END art -->

<!-- INCLUDE page.footer.htm -->