<!-- INCLUDE page_header.htm -->
<div class="box2b ie-widthfix">
<table width="100%" class="t-collapse" cellpadding="0" cellspacing="0">
	<tr>
		<td>
		<div class="pad12">
		<h1><a href="{U_ART}">{L_ART}</a></h1><div class="sep3-top"><h1 class="red">{ART_TITLE}</h1></div>
		<div class="sep-top sgray"><strong>{ART_VIEWS}</strong> {L_ART_VIEWS}, <strong>{ART_DOWNLOADS}</strong> <!-- IF ART_DOWNLOADS == 1 -->{L_ART_DL2}<!-- ELSE -->{L_ART_DL}<!-- ENDIF -->, <strong>{ART_POSTS}</strong> <!-- IF ART_POSTS == 1 -->{L_POST}<!-- ELSE -->{L_POSTS}<!-- ENDIF --></div>
		</div>
		
		<div class="pad4"><div class="ie-widthfix">
		<table width="100%" cellpadding="0" cellspacing="5" border="0">
			<tr>
				<td width="155" class="user-toolbar">
				<div class="session box3 sub-color logout"><a href="{DOWNLOAD_URL}"><img src="/net/icons/downloads.gif" width="18" height="18" alt="" />{L_UE_DOWNLOAD}</a></div>
				</td>
				<!-- BEGIN fav -->
				<td width="158" class="user-toolbar">
				<div class="session box3 sub-color logout"><a href="{fav.URL}"><img src="/net/icons/fav.gif" width="18" height="18" alt="" />{L_UB_FAV_ADD}</a></div>
				</td>
				<!-- END fav -->
				<td>&nbsp;</td>
			</tr>
		</table>
		</div></div>
		</td>
		<td class="pad12" align="right" valign="bottom">
		<div class="sep">{L_POSTED_BY}: <a style="color:#{USER_COLOR}; font-weight: bold" href="{USER_PROFILE}">{USERNAME}</a></div>
		<div class="sep2">{L_ART_DATETIME}: <strong>{ART_DATETIME}</strong></div>
		<div class="sep3">{L_ART_RESOLUTION}: <strong>{ART_WIDTH}x{ART_HEIGHT}</strong></div>
		<div>{L_ART_FILESIZE}: <strong>{ART_FILESIZE}</strong></div>
		</td>
		<td class="pad6" width="1%" valign="middle" nowrap><a href="{USER_PROFILE}"><img src="{USER_AVATAR}" /></a></td>
	</tr>
</table>
</div>
<div class="box2b pad3 nowraptext" align="center"><img src="{ART_IMAGE}" width="{ART_WIDTH}" height="{ART_HEIGHT}" /></div>
</div>

<!-- BEGIN posts -->
<div class="m3 sep2-top sorange float-holder">
<!-- BEGIN item -->
<a name="{item.POST_ID}"></a>
<div class="sep-top">
<div class="box color">
<div class="pad6 boxb dark-color ie-widthfix float-holder">
<div class="user-avatar a-image"><!-- BEGIN username --><a href="{item.PROFILE}"><!-- END username --><img src="{item.USER_AVATAR}" alt="{item.USERNAME}" /><!-- BEGIN username --></a><!-- END username --></div>
<div class="sep3-top sep3"><!-- BEGIN username --><a style="color: #{item.USER_COLOR}; font-weight: bold" href="{item.PROFILE}"><!-- END username --><!-- BEGIN guestuser --><span style="color: #{item.USER_COLOR}; font-weight: bold"><!-- END guestuser -->{item.USERNAME}<!-- BEGIN username --></a><!-- END username --><!-- BEGIN guestuser --></span><!-- END guestuser --><br />{item.USER_RANK}</div><div class="sep2-top">{item.DATETIME}</div>
<!-- BEGIN controls -->
<div class="sep2-top orange" align="right"><!-- BEGIN reply --><a href="{reply.URL}">{L_CMT_REPLY}</a><!-- END reply --><!-- BEGIN ip --> <a href="{ip.URL}">{L_CMT_IP}</a><!-- END ip  --><!-- BEGIN edit --> <a href="{edit.URL}">{L_CMT_EDIT}</a><!-- END edit --><!-- BEGIN delete --> <a href="{delete.URL}">{L_CMT_DELETE}</a><!-- END delete --></div>
<!-- END controls -->
</div>
<div class="pad6 color sorange nowraptext">{item.MESSAGE}<!-- BEGIN username --><!-- IF isset(item.USER_SIG) --><br /><br />----<br />{item.USER_SIG}<!-- ENDIF --><!-- END username --></div>
</div>
</div>
<!-- END item -->
</div>
<!-- END posts -->

<!-- BEGIN posting_box -->
<a name="post"></a>
<div class="pad12 post-box">
<div class="box color">
<div class="head">{L_SEND_POST}</div>
<!-- BEGIN box -->
<form action="{S_COMMENTS}" method="post" name="post">
<input type="hidden" name="ref" value="{box.REF}" />
<div class="pad6">
<div class="legend"><label for="comment">{L_POST}</label> | <a onclick="return popup('{S_EMOTICONS}', '_emoticons', 300, 450);" href="{S_EMOTICONS}" target="_blank">{L_EMOTICONS}</a></div>
<div class="sep"><textarea id="comment" name="message" cols="139" rows="10"></textarea></div>
<div class="sep3"><input class="w50 bold" type="submit" name="post" value="{L_SUBMIT}" /></div>
</div>
</form>
<!-- END box -->
<!-- BEGIN only_registered -->
<div class="pad12" align="center"><h1>{only_registered.LEGEND}</h1></div>
<!-- END only_registered -->
</div>
</div>
<!-- END posting_box -->

<!-- INCLUDE page_footer.htm -->