<!-- BEGIN selected -->
<div class="a_mid">
	<!-- BEGIN download --><a href="{download.URL}"><!-- END download --><img src="{selected.IMAGE}" width="{selected.WIDTH}" height="{selected.HEIGHT}" alt="" /><!-- BEGIN download --></a><!-- END download -->
</div>
<!-- BEGIN download -->
<div class="pad_top ctl"><a href="{download.URL}">{L_UE_DOWNLOAD}</a></div>
<!-- END download -->
<!-- END selected -->

<!-- BEGIN thumbnails -->
<div class="pad_top pad_left ln l3 lf2">
	<h2 class="z">Im&aacute;genes</h2>
	<ul>
		<!-- BEGIN row -->
		<li class="a_mid"><a class="fancy" href="{row.RIMAGE}" title="{row.FOOTER}"><img src="{row.IMAGE}" alt="{row.FOOTER}" /></a></li>
		<!-- END row -->
	</ul>
</div>
<!-- END thumbnails -->