<!-- BEGIN news -->
<div class="pad6">
<div class="pad6 ub-news">
<!-- BEGIN item -->
<a name="{item.POST_ID}"></a>
<div<!-- IF item.S_ROW_COUNT + 1 < item.S_NUM_ROWS --> class="sep2"<!-- ENDIF -->>
<div class="box color">
	<div class="pad6 boxb sub-color ie-widthfix">
	<table width="100%" class="t-collapse">
		<tr>
			<td class="user-avatar-td" rowspan="2" valign="top" width="1%"><!-- BEGIN username --><a class="{username.USER_CLASS}" href="{username.PROFILE}"><img class="box" src="{username.USER_AVATAR}" /></a><!-- END username --></td>
			<td valign="top">
			<!-- IF item.SUBJECT != '' --><h1 class="red">{item.SUBJECT}</a></h1><!-- ENDIF -->
			<!-- BEGIN username --><div<!-- IF item.SUBJECT != '' --> class="sep-top"<!-- ENDIF -->><a class="{username.USER_CLASS}" href="{username.PROFILE}">{username.USERNAME}</a></div><!-- END username -->
			<div class="sep-top">{item.DATETIME}</div>
			</td>
		</tr>
		<!-- BEGIN controls -->
		<tr><td align="right" valign="bottom"><!-- BEGIN topic --><a href="{topic.REPLY}">{L_CMT_REPLY}</a><!-- END topic --><!-- BEGIN auth --> <a href="{auth.EDIT}">{L_CMT_EDIT}</a> <a href="{auth.DELETE}">{L_CMT_DELETE}</a><!-- END auth --></td></tr>
		<!-- END controls -->
	</table>
	</div>
	<div class="pad6 dark-color message">{item.MESSAGE}{item.NOWPLAYING}{item.EDITED_MESSAGE}{item.SIGNATURE}</div>
</div>
</div>
<!-- END item -->
</div>
</div>
<!-- END news -->

<div class="pad6">
<div class="pad6 post-box">
<div class="box color">
<div class="head">{L_SEND_POST}</div>
<!-- BEGIN news_post_box -->
<form action="{S_COMMENTS}" method="post" name="d-messages">
<input type="hidden" name="ref" value="{news_post_box.REF}" />
<div class="pad6">
<div class="legend"><label for="d-comments">{L_POST}</label> | <a onclick="return popup('{S_EMOTICONS}', '_emoticons', 300, 450);" href="{S_EMOTICONS}" target="_blank">{L_EMOTICONS}</a></div>
<div class="sep"><textarea id="d-comments" cols="97" name="message" rows="5" /></textarea></div>
<div class="sep3"><input class="w50 bold" type="submit" name="submit" value="{L_SUBMIT}" /></div>
</div>
</form>
<!-- END news_post_box -->
<!-- BEGIN news_no_post_auth -->
<div class="a_mid pad12">
<strong>{L_UB_BAN_POST}</strong>
<!-- BEGIN until -->
<br /><br />{L_UB_BAN_POST_UNTIL}:<br /><span class="bold red">{until.UNTIL_DATETIME}</span>
<!-- END until -->
</div>
<!-- END news_no_post_auth -->
<!-- BEGIN news_no_guest_posting -->
<div class="pad12 a_mid">{news_no_guest_posting.LEGEND}</div>
<!-- END news_no_guest_posting -->
</div>
</div>
</div>