<!-- BEGIN selected -->
<div class="a_mid">
	<!-- BEGIN download --><a href="{download.URL}"><!-- END download --><img src="{selected.IMAGE}" width="{selected.WIDTH}" height="{selected.HEIGHT}" alt="" /><!-- BEGIN download --></a><!-- END download -->
</div>
<!-- BEGIN download -->
<div class="pad_top ctl"><a href="{download.URL}">{L_UE_DOWNLOAD}</a></div>
<!-- END download -->
<!-- END selected -->

<!-- BEGIN thumbnails -->
<div class="pad_top pad_left ln l3">
	<h2 class="z">Im&aacute;genes</h2>
	<ul>
		<!-- BEGIN row -->
		<!-- BEGIN col -->
		<li><a href="{col.RIMAGE}" title="{col.FOOTER}"><img src="{col.IMAGE}" alt="{col.FOOTER}" /></a></li>
		<!-- END col -->
		<!-- END row -->
	</ul>
</div>
<!-- END thumbnails -->