<!-- INCLUDE page.header.htm -->

<div class="is_left">
	<!-- BEGIN category -->
	<div class="pad_top ls">
		<div class="sec"><h3>{category.DESCRIPTION}</h3></div>
		<ul>
			<!-- BEGIN forums -->
			<li>
				<ul>
					<li><a href="{forums.U_FORUM}">{forums.FORUM_NAME}</a></li>
					<li class="_">{forums.FORUM_DESC}</li>
				</ul>
			</li>
			<!-- END forums -->
		</ul>
	</div>
	<!-- END category -->
</div>

<div class="is_right">
	<!-- BEGIN top_posters -->
	<div class="pad_top ls_none">
		<div class="sec"><h3>{L_TODAY_BIRTHS}</h3></div>
		<ul>
			<!-- BEGIN item -->
			<li>
				<ul>
					<li><a href="{item.PROFILE}">{item.USERNAME}</a></li>
					<li>{item.POSTS} {L_POSTS}</li>
					<li><a href="{item.PROFILE}"><img src="{item.AVATAR}" alt="{item.USERNAME}" /></a></li>
				</ul>
			</li>
			<!-- END item -->
		</ul>
	</div>
	<!-- END top_posters -->
</div>

<!-- INCLUDE page.footer.htm -->