<!-- INCLUDE page.header.htm -->

<div class="is_left">
	<!-- BEGIN category -->
	<div class="<!-- IF category.S_ROW_COUNT -->pad_top <!-- ENDIF -->ls">
		<div class="h"><h3>{category.DESCRIPTION}</h3></div>
		<ul>
			<!-- BEGIN forums -->
			<li>
				<ul>
					<li><a href="{forums.U_FORUM}">{forums.FORUM_NAME}</a></li>
					<li class="_">{forums.FORUM_DESC}</li>
				</ul>
			</li>
			<!-- END forums -->
		</ul>
	</div>
	<!-- END category -->
</div>

<div class="is_right">
	<!-- BEGIN latest_topics -->
	<div class="pad_top ls_none">
		<div class="h"><h3>{L_LATEST_TOPICS}</h3></div>
		<ul>
			<!-- BEGIN row -->
			<li>
				<ul>
					<li><a href="{item.PROFILE}">{row.USERNAME}</a></li>
					<li>{row.POSTS} {L_POSTS}</li>
				</ul>
			</li>
			<!-- END row -->
		</ul>
	</div>
	<!-- END latest_topics -->
</div>

<!-- INCLUDE page.footer.htm -->