<!-- INCLUDE page.header.htm -->

<!-- BEGIN future -->
<div class="pad_top ln l3">
	<!-- BEGIN set -->
	<div class="pad_top">
		<div class="h"><h3>{set.L_TITLE}</h3></div>
		<ul>
			<!-- BEGIN item -->
			<li class="el_left a_mid">
				<ul>
					<li>{item.TITLE}</li>
					<li class="__">{item.DATE}</li>
					<li><a href="{item.U_TOPIC}"><img src="{item.SRC}" alt="" /></a></li>
				</ul>
			</li>
			<!-- END item -->
		</ul>
	</div>
	<!-- END set -->
</div>
<!-- END future -->

<span class="clear"></span>

<!-- INCLUDE page.footer.htm -->