<!-- INCLUDE page.header.htm -->

<!-- BEGIN hide -->
<script type="text/javascript">
//<![CDATA[
$(function() {
	$('#submit_photos_box').hide();
	
	$('#submit_photos').click(function() {
		$('#submit_photos_box').toggle('slow');
	});
});
//]]>
</script>
<!-- END hide -->

<div class="share">&nbsp;</div>

<div class="is_left">
	<div class="h"><h3>{EVENT_NAME}</h3></div>
	<div class="pad_top pad_left _">{EVENT_DATE}</div>
	
	<!-- BEGIN collab -->
	<div class="pad_top pad_left _">{L_EVENT_PHOTO_THANKS}
		<!-- BEGIN row --><!-- IF row.S_ROW_COUNT --><!-- IF row.S_NUM_ROWS == (row.S_ROW_COUNT + 1) --> y <!-- ELSE -->, <!-- ENDIF --><!-- ENDIF --><a href="{row.PROFILE}">{row.USERNAME}</a><!-- END row -->
	</div>
	<!-- END collab -->
	
	<!-- BEGIN poll -->
	<div class="poll pad_left pad_top ctl">
	<!-- BEGIN results -->
	<!-- BEGIN item -->
	<!-- IF item.S_ROW_COUNT -->, <!-- ENDIF -->{item.RESULT} {item.CAPTION}
	<!-- END item -->
	<!-- END results -->
	
	<!-- BEGIN options -->
	<form action="{options.S_VOTE_ACTION}" method="post" id="event_poll" name="event_poll">
	<!-- BEGIN item -->
	<input type="submit" id="choice_{item.ID}" name="choice[{item.ID}]" value="{item.CAPTION}" />
	<!-- END item -->
	</form>
	<!-- END options -->
	</div>
	<!-- END poll -->
</div>

<!-- BEGIN hide -->
<div class="el_right a_right ctl">
	<input type="submit" id="submit_photos" value="{L_EVENT_PHOTOS_SHARE}" />
</div>

<span class="clear"></span>

<div id="submit_photos_box">
	Envianos las fotos que hayas tomado en el evento para compartirlas en la comunidad.
	
	<form action="" method="post" enctype="multipart/form-data">
		
	</form>
</div>
<!-- END hide -->

<!-- BEGIN event_flyer -->
<div id="placeholder">
	<div class="a_mid"><img src="{event_flyer.IMAGE_SRC}" alt="" /></div>
</div>
<!-- END event_flyer -->

<!-- BEGIN selected -->
<div class="pad_top a_center">
	<div><!-- BEGIN download --><a href="{download.URL}"><!-- END download --><img src="{selected.IMAGE}" width="{selected.WIDTH}" height="{selected.HEIGHT}" alt="" /><!-- BEGIN download --></a><!-- END download --></div>
	<div id="footer" class="pad_top a_mid"><!-- IF selected.FOOTER != '' -->{selected.FOOTER}<!-- ENDIF --></div>
	<!-- BEGIN hide -->
	<!-- BEGIN update -->
	<script type="text/javascript">
	//<![CDATA[
	new Ajax.InPlaceEditor('footer', '{update.URL}', {callback: function(form, value) { return 'ajax=1&event_id={update.EID}&image_id={update.PID}&image_footer=' + escape(value) }, cols:55,okText:"Aceptar",cancelText:"Cancelar",clickToEditText:"Editar",emptyText:"Editar",highlightcolor:"#e8e8e8",highlightendcolor:"#e8e8e8"});
	//]]>
	</script>
	<!-- END update -->
	<!-- END hide -->
</div>
<!-- END selected -->

<!-- BEGIN thumbnails -->
<span class="clear"></span>

<div class="pad_top pad_left ln l6 lf2">
<ul>
	<!-- BEGIN item -->
	<li class="a_mid"><a class="fancy" href="{item.RIMAGE}" title="{item.FOOTER}"><img src="{item.IMAGE}" alt="" /></a></li>
	<!-- END item -->
</ul>
</div>

<span class="clear"></span>

<!-- IF IMG_PAGES_NUMS != '' -->
<div class="pad_top p a_mid">{IMG_PAGES_NUMS}</div>
<!-- ENDIF -->

<span class="clear"></span>
<!-- END thumbnails -->

<!-- BEGIN publish -->
<div class="x2">
<div class="publish">
	<div class="h"><h3>{L_SEND_POST} <a class="smile" href="{S_EMOTICONS}">@</a></h3></div>
	<form action="{EVENT_URL}" method="post" name="post">
		<!-- BEGIN hide -->
		<input type="hidden" name="ref" value="{publish.REF}" />
		<!-- END hide -->
		<textarea id="comment" name="message"></textarea>
		<input type="submit" name="post" value="{L_SUBMIT}" />
	</form>
</div>
</div>
<!-- END publish -->

<!-- BEGIN messages -->
<!-- IF MSG_PAGES_NUMS != '' -->
<div class="p">{MSG_PAGES_NUMS}</div>
<!-- ENDIF -->

<div class="comments">
<!-- BEGIN row -->
<div id="comment-{row.S_ROW_COUNT}">
<h3><strong>{row.S_ROW_COUNT}</strong><span>.</span> <em><a href="{row.PROFILE}"><img src="{row.USER_AVATAR}" alt="{row.USERNAME}'s Avatar" /></a></em><cite><a href="{row.PROFILE}">{row.USERNAME}</a></cite> <span>dijo:</span></h3>
<blockquote>
<p>{row.MESSAGE}</p>
<p class="dtposted">{row.DATETIME}</p>
</blockquote>
<hr /></div>
<!-- END row -->
</div>

<!-- IF MSG_PAGES_NUMS != '' -->
<div class="p">{MSG_PAGES_NUMS}</div>
<!-- ENDIF -->
<!-- END messages -->

<!-- BEGIN thumbnails -->
<div id="cache" class="z">
	<!-- BEGIN item -->
	<div><img src="{item.RIMAGE}" alt="" /></div>
	<!-- END item -->
</div>
<!-- END thumbnails -->

<!-- INCLUDE page.footer.htm -->
