<!-- INCLUDE page.header.htm -->

<script type="text/javascript">
//<![CDATA[
$(function() {
	$('#submit_photos_box').hide();
	
	$('#submit_photos').click(function() {
		$('#submit_photos_box').toggle('slow');
	});
});
//]]>
</script>

<div class="share">&nbsp;</div>

<div class="is_left">
	<div class="sec"><h3>{EVENT_NAME}</h3></div>
	<div class="low_color">{EVENT_DATE}</div>
	
	<!-- BEGIN collab -->
	<div class="low_color">{L_EVENT_PHOTO_THANKS}
		<!-- BEGIN row -->
		<a href="{row.PROFILE}">{row.USERNAME}</a>
		<!-- END row -->
	</div>
	<!-- END collab -->
</div>
<div class="is_right">
	<input type="submit" id="submit_photos" value="&iquest;Tienes fotos de este evento? Env&iacute;alas" />
</div>

<span class="clear"></span>

<div id="submit_photos_box">
	Envianos las fotos que hayas tomado en el evento y quieras compartir con la comunidad.
	
	<form action="" method="post" enctype="multipart/form-data">
		
	</form>
</div>

<!-- BEGIN event_flyer -->
<div id="placeholder">
	<div class="a_center"><img src="{event_flyer.IMAGE_SRC}" alt="" /></div>
</div>
<!-- END event_flyer -->

<!-- BEGIN selected -->
<div class="ie-widthfix float-holder a_right a_controls"><!-- BEGIN download --><a href="{download.URL}">{L_UE_DOWNLOAD}</a><!-- END download --><!-- BEGIN fav --> <a href="{fav.URL}">{L_UB_FAV_ADD}</a><!-- END fav --></div>

<div class="pad_top a_center">
	<div><!-- BEGIN download --><a href="{download.URL}"><!-- END download --><img src="{selected.IMAGE}" width="{selected.WIDTH}" height="{selected.HEIGHT}" alt="" /><!-- BEGIN download --></a><!-- END download --></div>
	<div id="footer" class="pad_top a_mid"><!-- IF selected.FOOTER != '' -->{selected.FOOTER}<!-- ENDIF --></div>
	<!-- BEGIN hide -->
	<!-- BEGIN update -->
	<script type="text/javascript">
	//<![CDATA[
	new Ajax.InPlaceEditor('footer', '{update.URL}', {callback: function(form, value) { return 'ajax=1&event_id={update.EID}&image_id={update.PID}&image_footer=' + escape(value) }, cols:55,okText:"Aceptar",cancelText:"Cancelar",clickToEditText:"Editar",emptyText:"Editar",highlightcolor:"#e8e8e8",highlightendcolor:"#e8e8e8"});
	//]]>
	</script>
	<!-- END update -->
	<!-- END hide -->
</div>
<!-- END selected -->

<!-- BEGIN thumbnails -->
<div class="pad_top ls_none">
<ul>
	<!-- BEGIN item -->
	<li><a href="{item.RIMAGE}" title="{item.FOOTER}"><img src="{item.IMAGE}" alt="" /></a></li>
	<!-- END item -->
</ul>
</div>

<!-- IF IMG_PAGES_NUMS != ' <strong>1</strong>' -->
<div class="pagination">{IMG_PAGES_NUMS}</div>
<!-- ENDIF -->
<!-- END thumbnails -->

<!-- BEGIN posting_box -->
<div id="posting_box" class="rows5_top_2 post_comment">
<div class="sec"><h3>{L_SEND_POST} <a class="smile" href="{S_EMOTICONS}">@</a></h3></div>
<form action="{S_COMMENTS}" method="post" name="post"><input type="hidden" name="ref" value="{box.REF}" />
<div><textarea id="comment" name="message"></textarea></div>
<div><input class="submit" type="submit" name="post" value="{L_SUBMIT}" /></div>
</form>
</div>
<!-- END posting_box -->

<!-- BEGIN posts -->
<div class="comments">
<!-- BEGIN item -->
<div id="comment-{item.S_ROW_COUNT}">
<h3><strong>{item.S_ROW_COUNT}</strong><span>.</span> <em><!-- BEGIN username --><a href="{item.PROFILE}"><!-- END username --><img src="{item.USER_AVATAR}" alt="{item.USERNAME}'s Avatar" /><!-- BEGIN username --></a><!-- END username --></em><cite><!-- BEGIN username --><a href="{item.PROFILE}"><!-- END username -->{item.USERNAME}<!-- BEGIN username --></a><!-- END username --></cite> <span>dijo:</span></h3>
<blockquote>
<p>{item.MESSAGE}</p>
<p class="dtposted">{item.DATETIME}</p>
</blockquote>
<hr /></div>
<!-- END item -->
</div>
<!-- IF MSG_PAGES_NUMS != ' <strong>1</strong>' --><div class="pagination">{MSG_PAGES_NUMS}</div><!-- ENDIF -->
<!-- END posts -->

<div id="cache" class="z">
	<!-- BEGIN thumbnails -->
	<!-- BEGIN item -->
	<div><img src="{item.RIMAGE}" alt="" /></div>
	<!-- END item -->
	<!-- END thumbnails -->
</div>

<!-- INCLUDE page.footer.htm -->
