<!-- INCLUDE page.header.htm -->

<br clear="all" />

<table width="100%" cellpadding="4" cellspacing="1" border="0">
	<tr> 
	  <td align="center" class="mmb" height="25"><span class="gensmall">{L_PM}</span></t>
	  <td align="center" class="mmb"><span class="gensmall">{L_USERNAME}</span></td>
	  <td align="center" class="mmb"><span class="gensmall">{L_POSTS}</span></td>
	  <td align="center" class="mmb"><span class="gensmall">{L_FROM}</span></td>
	  <td align="center" class="mmb"><span class="gensmall">{L_EMAIL}</span></td>
	  <td align="center" class="mmb"><span class="gensmall">{L_WEBSITE}</span></td>
	  <td align="center" class="mmb"><span class="gensmall">{L_SELECT}</span></td>
	</tr>
	<tr> 
	  <td class="mmb" colspan="8" height="28"><span class="cattitle">{L_PENDING_MEMBERS}</span></td>
	</tr>
	<!-- BEGIN pending_members_row -->
	<tr> 
	  <td class="mmb" align="center"> {pending_members_row.PM_IMG} </td>
	  <td class="mmb" align="center"><span class="gen"><a href="{pending_members_row.U_VIEWPROFILE}" class="gen">{pending_members_row.USERNAME}</a></span></td>
	  <td class="mmb" align="center"><span class="gen">{pending_members_row.POSTS}</span></td>
	  <td class="mmb" align="center"><span class="gen">{pending_members_row.FROM}</span></td>
	  <td class="mmb" align="center"><span class="gen">{pending_members_row.EMAIL_IMG}</span></td>
	  <td class="mmb" align="center"><span class="gen">{pending_members_row.WWW_IMG}</span></td>
	  <td class="mmb" align="center"><span class="gensmall"> <input type="checkbox" name="pending_members[]" value="{pending_members_row.USER_ID}" checked="checked" /></span></td>
	</tr>
	<!-- END pending_members_row -->
	<tr> 
	  <td class="mmb" colspan="8" align="right"><span class="cattitle"> 
		<input type="submit" name="approve" value="{L_APPROVE_SELECTED}" class="bold" />
		<input type="submit" name="deny" value="{L_DENY_SELECTED}" class="liteoption" />
		</span></td>
	</tr>
</table>

<!-- INCLUDE page.footer.htm -->