<!-- INCLUDE page.header.htm -->

<div class="h"><h3>{L_HELP}<!-- BEGIN module --> &mdash; {module.HELP}<!-- END module --></h3></div>

<!-- BEGIN cat -->
<div class="is_left_i ls">
	<ul>
		<!-- BEGIN item -->
		<li><a href="{item.URL}">{item.TITLE}</a></li>
		<!-- END item -->
	</ul>
</div>
<!-- END cat -->
</div>

<!-- BEGIN module -->
<div class="is_right_i ls">
	<!-- BEGIN main -->
	<div class="pad_top">
		<ul>
			<!-- BEGIN item -->
			<li><a href="{item.URL}">{item.FAQ}</a></li>
			<!-- END item -->
		</ul>
	</div>
	<!-- END main -->
	
	<!-- BEGIN faq -->
	<div class="pad_top h"><h3>{faq.QUESTION_ES}</h3></div>
	<div>{faq.ANSWER_ES}</div>
	<!-- END faq -->
</div>
<!-- END module -->

<!-- INCLUDE page.footer.htm -->