<!-- INCLUDE page_header.htm -->
</div>

<!-- BEGIN error -->
<a name="e"></a>
<div class="pad12">
<div class="box color">
<div class="head">{L_ERROR}</div>
<div align="center" class="pad12">{error.MESSAGE}</div>
</div>
</div>
<!-- END error -->

<div class="sep3-top">
<div class="box2t color pad12 ie-widthfix">

<form action="" method="post" enctype="multipart/form-data" name="post">
<div><strong>Publicar Imagen de noticia</strong></div>
<div class="sep2-top"></div>
<br />Noticias: <select name="artist">{SELECT_N}</select>
<br /><br /><div class="sep2-top"><input type="hidden" name="MAX_FILE_SIZE" value="{MAX_FILESIZE}" /><input type="file" name="add_dl" size="50" /></div>
<div align="center" class="sep2-top"><input type="submit" class="bold" name="submit" value="{L_SUBMIT}" /></div>
</form>

</div>
</div>

<!-- INCLUDE page_footer.htm -->