<!-- INCLUDE page_header.htm -->
</div>

<!-- BEGIN error -->
<a name="e"></a>
<div class="pad12">
<div class="box color">
<div class="head">{L_ERROR}</div>
<div align="center" class="pad12">{error.MESSAGE}</div>
</div>
</div>
<!-- END error -->

<div class="sep3-top">
<div class="box2t color pad12 ie-widthfix">

<table width="100%" cellpadding="3" cellspacing="1" border="0">
	<tr>
		<td>Artista</td>
		<td>Cancion</td>
		<td>Ruta</td>
	</tr>
	<!-- BEGIN row -->
	<tr{row.E}>
		<td>{row.A}</td>
		<td>{row.D}</td>
		<td>{row.P}</td>
	</tr>
	<!-- END row -->
</table>

</div>
</div>

<!-- INCLUDE page_footer.htm -->