<!-- INCLUDE page.header.htm -->

<div class="is_left">
	
	<a href="//www.rockrepublik.net/topic/13387/"><img src="//assets.rockrepublik.net/style/y8.jpg" /></a>
	
	<!-- BEGIN banners -->
	<div id="images" class="lsn">
		<div class="z"><h3>{L_IMAGES}</h3></div>
		<ul>
			<!-- BEGIN row -->
			<li><!-- IF row.URL != '' --><a href="{row.URL}"><!-- ENDIF --><img src="{S_SERVER}{row.IMAGE}" alt="" /><!-- IF row.URL != '' --></a><!-- ENDIF --></li>
			<!-- END row -->
		</ul>
	</div>
	<!-- END banners -->

	<!-- BEGIN news -->
	<div class="pad_top ln l2">
		<div class="h"><h3>{L_LATEST_NEWS}</h3></div>
		<ul>
			<!-- BEGIN row -->
			<li>
				<ul>
					<li><a href="{row.URL}"><img src="{row.IMAGE}" alt="" /></a></li>
					<li class="_">Publicado el {row.TIMESTAMP}</li>
					<li>{row.MESSAGE}</li>
				</ul>
			</li>
			<!-- END row -->
		</ul>
		
		<span class="clear"></span>
		
	</div>
	
	<div class="pad_top pad_left a_right ctl ln">
		<ul>
			<!-- BEGIN hide -->
			<!-- BEGIN create -->
			<li><a href="{create.U_NEWS_CREATE}">Publicar informaci&oacute;n</a></li>
			<!-- END create -->
			<!-- END hide -->
			<li><a href="{U_NEWS}">Leer m&aacute;s art&iacute;culos</a></li>
		</ul>
	</div>
	<!-- END news -->
	
	<span class="clear"></span>
	
	<!-- BEGIN hide -->
	<div class="pad_top"><div id="se_cover_1"></div></div>
	<!-- END hide -->
	
	<!-- BEGIN board_general -->
	<div class="is_mid pad_top ls">
		<div class="h"><h3>{L_BOARD_LATEST}</h3></div>
		<ul>
			<!-- BEGIN item -->
			<li>
				<ul>
					<li><a<!-- IF item.TOPIC_COLOR --> style="color:#{item.TOPIC_COLOR};"<!-- ENDIF --> href="{item.U_TOPIC}">{item.TOPIC_TITLE}</a></li>
					<li class="_"><a href="{item.PROFILE}">{item.USERNAME}</a> public&oacute; a las {item.POST_TIME}</li>
				</ul>
			</li>
			<!-- END item -->
		</ul>
	</div>
	<!-- END board_general -->
	
	<!-- BEGIN board_events -->
	<div class="is_mid pad_top ls">
		<div class="h"><h3>{L_BOARD_EVENTS}</h3></div>
		<ul>
			<!-- BEGIN item -->
			<li>
				<ul>
					<li><a<!-- IF item.TOPIC_COLOR --> style="color:#{item.TOPIC_COLOR};"<!-- ENDIF --> href="{item.U_TOPIC}">{item.TOPIC_TITLE} ({item.EVENT_DATE})</a></li>
					<li class="_"><a href="{item.PROFILE}">{item.USERNAME}</a> public&oacute; a las {item.POST_TIME}</li>
				</ul>
			</li>
			<!-- END item -->
		</ul>
	</div>
	<!-- END board_events -->
</div>

<div class="is_right">
	<!-- BEGIN next_event -->	
	<div class="ln lc">
		<div class="h"><h3><a href="{U_EVENTS}">{L_EVENTS_NEXT}</a></h3></div>
		<ul>
			<!-- BEGIN row -->
			<li>
				<ul>
					<li><a href="{row.URL}">{row.TITLE}</a></li>
					<li class="_">{row.DATE}</li>
					<li><a href="{row.URL}"><img src="{row.IMAGE}" alt="" /></a></li>
				</ul>
			</li>
			<!-- END row -->
		</ul>
	</div>
	<!-- END next_event -->
	
	<!-- BEGIN thumbnails -->
	<div class="ln lc">
		<div class="h"><h3>{L_ARTISTS}</h3></div>
		<ul>
			<!-- BEGIN item -->
			<li>
				<ul>
					<li><a href="{item.URL}">{item.NAME}</a></li>
					<li class="_">{item.GENRE}</li>
					<li><a href="{item.URL}"><img src="{item.IMAGE}" alt="{item.NAME}" /></a></li>
				</ul>
			</li>
			<!-- END item -->
		</ul>
	</div>
	<!-- END thumbnails -->
	
	<!-- BEGIN hide -->
	<!-- BEGIN poll -->
	<div id="poll" class="pad_top">
		<div class="h"><h3>{poll.POLL_TITLE}</h3></div>
		<!-- BEGIN options -->
		<form method="post" action="{options.S_VOTE_ACTION}">
		<!-- END options -->
		<ul>
		<!-- BEGIN results -->
		<!-- BEGIN item -->
		<li>
			<div class="caption">{item.CAPTION} <span>({item.RESULT})</span></div>
			<div class="bar"><div style="width: {item.PERCENT}%;">&nbsp;</div></div>
		</li>
		<!-- END item -->
		<!-- END results -->
		<!-- BEGIN options -->
		<!-- BEGIN item -->
		<li><input type="radio" id="vo_{item.POLL_OPTION_ID}" name="vote_id" value="{item.POLL_OPTION_ID}" /> <label for="vo_{item.POLL_OPTION_ID}">{item.POLL_OPTION_CAPTION}</label></li>
		<!-- END item -->
		<!-- END options -->
		</ul>
		<!-- BEGIN options -->
		<div class="pad_top a_mid"><input class="submit" type="submit" name="vote" value="{L_VOTE}" /></div>
		<!-- END options -->
		<div class="a_right"><a href="{poll.U_POLL_TOPIC}">{poll.S_REPLIES} <!-- IF poll.S_REPLIES == 1 -->{L_POLL_COMMENT}<!-- ELSE -->{L_POLL_COMMENTS}<!-- ENDIF --></a></div>
		<!-- BEGIN options -->
		</form>
		<!-- END options -->
	</div>
	<!-- END poll -->
	<!-- END hide -->
</div>

<!-- INCLUDE page.footer.htm -->

<div id="hse_cover_1" style="display: none;">
	<script type="text/javascript"><!--
	google_ad_client = "pub-5371491382621943";
	google_ad_slot = "2766054894";
	google_ad_width = 468;
	google_ad_height = 60;
	//-->
	</script>
	<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</div>