<!-- INCLUDE page.header.htm -->

<div class="h"><h3>{L_LOGIN_PAGETITLE}</h3></div>

<form action="{U_SESSION}" method="post">
<input type="hidden" name="ref" value="{S_REDIRECT}" />{S_HIDDEN_FIELDS}

<!-- BEGIN error -->
<div class="pad_top ls">
	<div class="h"><h3>{L_ERROR}</h3></div>
	<ul>
		<li>{L_LOGIN_ERROR}</li>
	</ul>
</div>
<!-- END error -->

<div class="pad_top a_mid">
	<!-- IF IS_NEED_AUTH -->
	{L_LOGIN_ADM}
	<!-- ELSEIF IS_LOGIN -->
	{L_LOGINBOX_PAGE}
	<!-- ELSEIF CUSTOM_MESSAGE -->
	{CUSTOM_MESSAGE}
	<!-- ELSE  -->
	{L_LOGIN_PAGE}
	<!-- ENDIF -->
</div>

<!-- IF !(IS_NEED_AUTH) -->
<div class="a_mid pad_top">{L_LOGIN_PAGE_REGISTER}</div>
<!-- ENDIF -->

<div class="pad_top a_mid">{L_USERNAME}: <input type="text" name="username" size="20" maxlength="20" /> &nbsp; {L_PASSWORD}: <input type="password" name="password" size="20" maxlength="32" value="" /></div>
<div class="pad_top a_mid ctl"><input class="submit" type="submit" name="login" value="{L_LOGIN}" /></div>

<div class="pad_top a_mid"><a href="{U_SPASSWORD}">{L_PASSWORD_RESET}</a></div>
</form>

<!-- INCLUDE page.footer.htm -->