<!-- INCLUDE page_header.htm -->

<div class="section"><h1>Recibe noticias en tu email</h1></div>

<div class="a_center">
<form action="http://www.feedburner.com/fb/a/emailverify" method="post" target="popupwindow" onsubmit="window.open('http://www.feedburner.com/fb/a/emailverifySubmit?feedId=1022460', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p>Ingresa tu direcci&oacute;n de email:</p><p><input type="text" style="width:140px" name="email"/></p><input type="hidden" value="http://feeds.feedburner.com/~e?ffid=1022460" name="url"/><input type="hidden" value="Rock Republik: Noticias" name="title"/><input type="hidden" name="loc" value="es_ES"/><input type="submit" value="Continar" /></form>
</div>

<div class="col_3 float_left">
<div class="section"><h1><a href="{U_NEWS}">{L_NEWS}</a><!-- BEGIN cat --> &raquo; <a href="{cat.CAT_URL}">{cat.CAT_NAME}</a><!-- END cat --></h1></div>

<!-- BEGIN list -->
<div class="item_block_2">
	<ul class="ul_none">
		<!-- BEGIN item -->
		<li><a class="relevant high" href="{item.URL}">{item.NAME}</a><br />{item.DESC}</li>
		<!-- END item -->
	</ul>
</div>
<!-- END list -->

<!-- BEGIN cat -->
<div class="item_block_2">
	<ul class="ul_none">
		<!-- BEGIN item -->
		<li>{item.TIME}: <a class="relevant_new" href="{item.URL}">{item.SUBJECT}</a><br />{item.DESC}</li>
		<!-- END item -->
	</ul>
</div>
<!-- END cat -->
</div>
	
<!-- INCLUDE page_footer.htm -->