<!-- INCLUDE page.header.htm -->

<div class="float_left">
<div class="g2"><h1><a href="{U_NEWS}">{L_NEWS}</a><!-- BEGIN cat --> &raquo; <a href="{cat.CAT_URL}">{cat.CAT_NAME}</a><!-- END cat --></h1></div>

<!-- BEGIN list -->
<div class="item_block_2">
	<ul class="ul_none">
		<!-- BEGIN item -->
		<li><a class="relevant high" href="{item.URL}">{item.NAME}</a><br />{item.DESC}</li>
		<!-- END item -->
	</ul>
</div>
<!-- END list -->

<!-- BEGIN cat -->
<div class="item_block_2">
	<ul class="ul_none">
		<!-- BEGIN item -->
		<li>{item.TIME}: <a class="relevant_new" href="{item.URL}">{item.SUBJECT}</a><br />{item.DESC}</li>
		<!-- END item -->
	</ul>
</div>
<!-- END cat -->
</div>
	
<!-- INCLUDE page.footer.htm -->