<!-- INCLUDE page.header.htm -->

<div class="h"><h3>{L_NEWS}<!-- BEGIN cat --> &mdash; {cat.CAT_NAME}<!-- END cat --></h1></div>

<div class="is_left">
<!-- BEGIN list -->
<div class="pad_top ls">
	<ul>
		<!-- BEGIN item -->
		<li>
			<ul>
				<li><a href="{item.URL}">{item.NAME}</a></li>
				<li class="_">{item.DESC}</li>
			</ul>
		</li>
		<!-- END item -->
	</ul>
</div>
<!-- END list -->

<!-- BEGIN cat -->
<div class="pad_top ls">
	<ul>
		<!-- BEGIN item -->
		<li>
			<ul>
				<li><a href="{item.URL}">{item.SUBJECT}</a></li>
				<li class="_">{item.DESC}</li>
			</ul></li>
		<!-- END item -->
	</ul>
</div>
<!-- END cat -->
</div>

<div class="is_right"></div>
	
<!-- INCLUDE page.footer.htm -->