<span class="clear"></span>

</div>

<!-- BEGIN hidden -->
<!-- {S_SQL}{S_TIME}s -->
<!-- END hidden -->

<div id="footer">
	<div class="el_left"><a href="{S_SERVER}">{L_APPLICATION_FULL}</a> &copy; {S_YEAR}</div>
</div>

</div>

<!-- BEGIN hide -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
<!-- BEGIN hide -->
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
<!-- END hide -->
document.write(unescape("%3Cscript src='{S_SERVER}/home/style/js/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1853605-2");
pageTracker._trackPageview();
</script>
<!-- END hide -->

</body>
</html>