<!DOCTYPE HTML>
<html lang="es">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<title><!-- IF PAGE_TITLE != 'Inicio' -->{PAGE_TITLE} en <!-- ENDIF -->Rock Republik<!-- IF PAGE_TITLE == 'Inicio' -->, la comunidad m&aacute;s grande de rock en Guatemala<!-- ENDIF --></title>
<link rel="stylesheet" href="{S_ASSETS}default.css?g={GIT_PUSH}" />
<link rel="stylesheet" href="{S_ASSETS}mobile.css?g={GIT_PUSH}" />
<link rel="shortcut icon" href="{S_SERVER}/favicon.ico" />
<script src="{S_ASSETS}g.js?g={GIT_PUSH}" type="text/javascript"></script>
<!--[if lt IE 7]>
<script src="{S_ASSETS}ie.js?g={GIT_PUSH}" type="text/javascript"></script>
<![endif]-->
<!-- IF PAGE_TITLE == 'Inicio' -->
<meta name="description" content="{S_DESCRIPTION}" />
<meta name="keywords" content="{S_KEYWORDS}" />
<!-- ENDIF -->
<link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/rockrepublik_news" title="{L_RSS_NEWS}"/>
