<span class="clear"></span>

</div>

<!-- BEGIN hidden -->
{F_SQL}{F_TIME}s
<!-- END hidden -->

<div id="footer">
	<div class="el_left"><a href="{S_SERVER}">Rock Republik Networks</a> &copy; {FOOTER_YEAR} {F_SQL}</div>
	<div class="el_right a_right ls_inline">
		<ul>
			<li><a href="mailto:info&#64;rockrepublik.net">Cont&aacute;ctanos</a></li>
			<li><a href="{U_HELP}">{L_HELP}</a></li>
			<li><a href="{U_TOS}">{L_TOS}</a></li>
		</ul>
	</div>
</div>

</div>

<!-- BEGIN hide -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
<!-- BEGIN hide -->
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
<!-- END hide -->
document.write(unescape("%3Cscript src='{S_SERVER}/home/style/js/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1853605-2");
pageTracker._trackPageview();
</script>
<!-- END hide -->

</body>
</html>