</div>

<div id="footer">
	<h2 class="z">Informaci&oacute;n</h2>
	<div class="float-holder ie-widthfix">
		<div class="col50 float_left"><a class="relevant" href="http://www.rockrepublik.net/">Rock Republik Networks</a><br />&copy; Copyright 2004-2011<br /><br /><a class="relevant" href="mailto:info&#64;rockrepublik.net">info&#64;rockrepublik.net</a></div>
		<div class="col50 float_right a_right"><a href="{U_HELP}">{L_HELP}</a> | <a href="{U_TOS}">{L_TOS}</a><br /><br /><br />{F_SQL}{F_TIME}s</div>
	</div>
</div>

<!-- BEGIN hidden -->
<script type="text/javascript" src="http://www.rockrepublik.net/home/clickheat/js/clickheat.js"></script><script type="text/javascript"><!--
clickHeatSite = 'Rock.Republik';clickHeatGroup = encodeURIComponent(window.location.pathname+window.location.search);clickHeatServer = 'http://www.rockrepublik.net/home/clickheat/click.php';initClickHeat(); //-->
</script>
<!-- END hidden -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
<!-- BEGIN hide -->
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
<!-- END hide -->
document.write(unescape("%3Cscript src='{S_SERVER}/home/style/js/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1853605-2");
pageTracker._trackPageview();
</script>

<!-- BEGIN hidden -->
<div align="center">
<script type="text/javascript"><!--
google_ad_client = "pub-1554771546738622";
google_ad_width = 468;
google_ad_height = 60;
google_ad_format = "468x60_as";
google_ad_type = "text_image";
google_ad_channel = "";
google_color_border = "336699";
google_color_bg = "FFFFFF";
google_color_link = "0000FF";
google_color_text = "000000";
google_color_url = "008000";
google_ui_features = "rc:10";
//-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
<!-- END hidden -->

</div>
</div>

</body>
</html>
