<!-- INCLUDE page.header.htm -->

<div class="share">&nbsp;</div>

<div class="h"><h3><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a> &mdash; <a href="{S_TOPIC_ACTION}">{TOPIC_TITLE}</a></h3></div>
<div class="_ pad_left">{EVENT_DATE}</div>

<div class="pad_top">
	<div class="float_right a_right col25">
		<!-- BEGIN post_box -->
		<a href="#reply">{L_POST_REPLY}</a>
		<!-- END post_box -->
		<!-- BEGIN mcppoints -->
		<a href="{mcppoints.U_FEAT}">{mcppoints.V_LANG}</a>
		<!-- END mcppoints -->
		<!-- BEGIN feature -->
		<a href="{feature.U_FEAT}">{feature.V_LANG}</a>
		<!-- END feature -->
	</div>
</div>

<!-- BEGIN poll -->
<div class="pad_top">
<div id="poll" class="black_box">
<!-- BEGIN options -->
<form method="post" action="{options.S_VOTE_ACTION}">
<!-- END options -->

<div class="relevant a_center">{poll.POLL_TITLE}</div>

<div class="pad_top ls">
<ul>
<!-- BEGIN results -->
<!-- BEGIN item -->
<li><div class="caption">{item.CAPTION} <span>({item.RESULT})</span></div><div class="bar"><div style="width: {item.PERCENT}%;">&nbsp;</div></div></li>
<!-- END item -->
<!-- END results -->
<!-- BEGIN options -->
<!-- BEGIN item -->
<li class="pad_top"><input class="none" type="radio" id="vo_{item.POLL_OPTION_ID}" name="vote_id" value="{item.POLL_OPTION_ID}" /> <label for="vo_{item.POLL_OPTION_ID}">{item.POLL_OPTION_CAPTION}</label></li>
<!-- END item -->
<!-- END options -->
</ul>
<!-- BEGIN options -->
<div class="pad_top a_mid"><input class="submit" type="submit" name="vote" value="{L_VOTE}" /></div>
<!-- END options -->
</div>
<!-- BEGIN options -->
</form>
<!-- END options -->
</div>
</div>
<!-- END poll -->

<!-- IF PAGES_NUMS != ' <strong>1</strong>' -->
<div class="pad_top p">{PAGES_NUMS}</div>
<!-- ENDIF -->

<!-- BEGIN posts -->
<div class="comments">
<a name="first"></a>
<!-- BEGIN item -->
<a name="{item.POST_ID}"></a>
<div id="comment-{item.S_ROW_COUNT}">
<h3><strong>{item.S_ROW_COUNT}</strong><span>.</span> <em><!-- BEGIN username --><a href="{item.PROFILE}"><!-- END username --><img src="{item.USER_AVATAR}" alt="{item.USERNAME}'s Avatar" /><!-- BEGIN username --></a><!-- END username --></em><cite><!-- BEGIN username --><a href="{item.PROFILE}"><!-- END username -->{item.USERNAME}<!-- BEGIN username --></a><!-- END username --></cite> <span>dijo:</span></h3>
<blockquote>
<!-- BEGIN controls -->
<div class="pad_top ctl a_right"><!-- BEGIN reply --><a href="{reply.URL}">{L_CMT_REPLY}</a><!-- END reply --><!-- BEGIN report --> <a href="{report.URL}">{L_CMT_REPORT}</a><!-- END report --><!-- BEGIN ip --> <a href="{ip.URL}">{L_CMT_IP}</a><!-- END ip  --><!-- BEGIN edit --> <a href="{edit.URL}">{L_CMT_EDIT}</a><!-- END edit --><!-- BEGIN restore --> <a href="{restore.URL}"><span class="red">{L_CMT_RESTORE}</span></a><!-- END restore --><!-- BEGIN delete --> <a onclick="return confirm('&iquest;Confirmas borrar el mensaje?');" href="{delete.URL}">{L_CMT_DELETE}</a><!-- END delete --></div>
<!-- END controls -->
<div class="col_fr nowraptext">
{item.MESSAGE}
<!-- IF item.PLAYING != '' -->
<br /><br /><div class="a_right nowplay">{item.PLAYING} &nbsp;<img src="{S_ASSETS}/emoticon/arkane.png" alt="" /></div>
<!-- ENDIF -->
</div>
<!-- IF item.USER_SIG != '' -->
<div class="col_fr nowraptext"><p>--{item.USER_SIG}</p></div>
<!-- ENDIF -->
<p class="dtposted">{item.POST_DATE}</p>
</blockquote>
<hr /></div>
<!-- END item -->
</div>
<!-- END posts -->

<!-- IF PAGES_NUMS != ' <strong>1</strong>' -->
<div class="p">{PAGES_NUMS}</div>
<!-- ENDIF -->

<!-- BEGIN post_box -->
<div class="pad_top post_comment">
	<div class="col75 float_left">
		<div class="h"><h3>{L_SEND_POST} <a class="smile" href="{S_EMOTICONS}">@</a></h3></div>
		<form action="{post_box.S_POST_ACTION}" method="post">
		<div class="pad_top"><textarea id="comment" name="message"></textarea></div>
		<!-- BEGIN reply -->
		<div class="pad_top"><label for="comment_reply">{L_ORIGINAL_POST}</label></div>
		<div class="pad_top"><textarea id="comment_reply" name="reply_message" cols="100" rows="10">{reply.MESSAGE}</textarea></div>
		<!-- END reply -->
		<div class="pad_top"><label for="comment_np">{L_NOWPLAYING}</label></div>
		<div class="pad_top"><input id="comment_np" name="np" size="100" value="{post_box.NP}" /></div>
		<div class="pad_top a_mid"><input class="submit" type="submit" name="post" value="{L_SUBMIT}" /></div>
		</form>
	</div>
	<!-- BEGIN hide -->
	<div class="cols5_left_2 info float_right">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-5371491382621943";
		google_ad_slot = "4930576188";
		google_ad_width = 200;
		google_ad_height = 200;
		//-->
		</script>
		<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
	</div>
	<!-- END hide -->
</div>
<!-- END post_box -->

<!-- INCLUDE page.footer.htm -->