<!-- INCLUDE page_header.htm -->

<div class="section"><h1><a href="{U_FORUM}">{L_FORUM_INDEX}</a></h1></div>
<div class="section"><h1><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a></h1></div>
<div class="rows5_top_2 rows5_bot_1 a_controls a_left"><!-- BEGIN create_topic --><a href="#create">{L_POST_NEWTOPIC}</a><!-- END create_topic --></div>

<!-- IF PAGES_NUMS != ' <strong>1</strong>' --><div class="rows5_top pagination">{PAGES_NUMS}</div><!-- ENDIF -->

<!-- BEGIN topics -->
<div class="rows5_top_3 float-holder ie-widthfix">
<div class="item_block_2">
<ul class="ul_none">
	<!-- BEGIN item -->
	<li><div class="float-holder ie-widthfix"><div class="float_left col60"><a class="relevant high" href="{item.U_TOPIC}">{item.TOPIC_TITLE}</a> ~ {item.REPLIES}m ~ <!-- IF item.VIEWS -->, {item.VIEWS}v<!-- ENDIF --></div><div class="float_right a_right col40">{item.TOPIC_AUTHOR} @ {item.LAST_POST_TIME}</div></div></li>
	<!-- END item -->
</ul>
</div>
</div>
<!-- END topics -->

<!-- BEGIN no_topics -->
<div class="color pad6 ie-widthfix">{L_NO_TOPICS}</div>
<!-- END no_topics -->

<!-- IF PAGES_NUMS != ' <strong>1</strong>' --><div class="rows5_top_5 pagination">{PAGES_NUMS}</div><!-- ENDIF -->

<!-- BEGIN posting_box -->
<!-- BEGIN error -->
<a name="e"></a><div class="rows5_top_2"><div class="error_block"><h2>{L_REPLY_ERROR}</h2><p>{error.MESSAGE}</p></div></div>
<!-- END error -->

<a name="create"></a>
<div class="rows5_top_2 post_comment">
<div class="section"><h1>{L_POST_NEWTOPIC}</h1></div>
<!-- BEGIN box -->
<form action="{box.S_POST_ACTION}" method="post">
<div><label for="comment_np">{L_TOPIC_TITLE}</label></div>
<div class="rows5_top_1"><input id="comment_title" name="topic_title" size="150" value="{box.TOPIC_TITLE}" /></div>
<div class="rows5_top_1"><label for="comment">{L_POST}</label> - <a class="relevant" onclick="return popup('{S_EMOTICONS}', '_emoticons', 300, 450);" href="{S_EMOTICONS}" target="_blank">{L_EMOTICONS}</a><!-- BEGIN addpoll --> - <span class="relevant" onclick="Element.toggle('addpollbox');">{L_ADD_POLL}</span><!-- END addpoll --></div>
<div class="rows5_top_1"><textarea id="comment" name="message" cols="150" rows="10">{box.MESSAGE}</textarea></div>
<div class="rows5_top_1"><label for="comment_np">{L_NOWPLAYING}</label></div>
<div class="rows5_top_1"><input id="comment_np" name="np" size="150" value="{box.NP}" /></div>
<!-- BEGIN addpoll -->
<div id="addpollbox" class="rows5_top_1">
	<div class="section"><h1>{L_ADD_POLL}</h1></div>
	<div class="rows5_top_1"><label for="t-polltitle">{L_POLL_QUESTION}</label></div>
	<div class="rows5_top_1"><input id="t-polltitle" name="poll_title" size="62" value="{box.POLL_TITLE}" /></div>
	<div class="rows5_top_1"><label for="t-polloptions">{L_POLL_OPTION}</label></div>
	<div class="rows5_top_1"><em>{L_POLL_OPTION_EXPLAIN}</em></div>
	<div class="rows5_top_1"><textarea id="t-polloptions" name="poll_options" cols="150" rows="10">{box.POLL_OPTIONS}</textarea></div>
</div>
<!-- BEGIN hide -->
<script language="javascript" type="text/javascript">
//<![CDATA[
Element.hide('addpollbox');
//]]>
</script>
<!-- END hide -->
<!-- END addpoll -->
<div class="rows5_top_1 a_center"><input class="submit" type="submit" name="post" value="{L_SUBMIT}" /></div>
</form>
<!-- END box -->
<!-- BEGIN only_registered -->
<div class="black_box a_center">{only_registered.LEGEND}</div>
<!-- END only_registered -->
<!-- BEGIN not_allowed -->
<div class="black_box a_center">{not_allowed.LEGEND}</div>
<!-- END not_allowed -->
</div>
<!-- END posting_box -->

<!-- INCLUDE page_footer.htm -->