<!-- INCLUDE page.header.htm -->

<!-- BEGIN hide -->
<div class="a_mid">
	<script type="text/javascript"><!--
	google_ad_client = "pub-5371491382621943";
	google_ad_slot = "1741490293";
	google_ad_width = 728;
	google_ad_height = 90;
	//-->
	</script>
	<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</div>
<!-- END hide -->

<!-- BEGIN hide -->
<div class="ie-widthfix float-holder">
	<div class="col75 float_left">
		<div class="h"><h3>{L_UNREAD_ITEMS}</h3></div>
	</div>
	<div class="col24 float_right a_right">
		<form action="{S_UNREAD_ACTION}" method="post" name="post">
		{S_HIDDEN}<input type="hidden" name="options" value="1" />
		<div>{L_NEW_MARK}</div>
		<select name="mark_read_option" onchange="this.form.submit();">
		<!-- BEGIN mark_item -->
		<option value="{mark_item.ITEM}"{mark_item.SELECTED}>{mark_item.NAME}</option>
		<!-- END mark_item -->
		</select>
		<noscript>
		&nbsp;<input type="submit" value="{L_GO}" />&nbsp;
		</noscript>
		</form>
	</div>
</div>
<!-- END hide -->

<div class="pad_top ls">
<div class="col_3 float_left">
	<!-- BEGIN items -->
	<form action="{S_UNREAD_ACTION}" method="post">
	{S_HIDDEN_FIELDS}
	<!-- BEGIN notes -->
	<div class="h"><h3>{L_DCONVS}</h3></div>
	<ul>
		<!-- BEGIN item -->
		<li class="pad_top">
			<div class="float-holder ie-widthfix">
			<div class="float_left col75"><input type="checkbox" class="none" name="items[{notes.ELEMENT}][]" value="{item.S_MARK_ID}" />&nbsp;<a class="bold" href="{item.U_READ}">{item.SUBJECT}</a></div>
			<div class="float_right col25 a_right"><a class="relevant uunique"href="{item.U_USERNAME}">{item.USERNAME}</a><br />{item.DATETIME}</div>
			</div>
		</li>
		<!-- END item -->
	</ul>
	<!-- END notes -->
	
	<!-- BEGIN friends -->
	<div class="rows5_top_2 float-holder ie-widthfix item_block_3">
	<div class="h"><h3>{L_FRIENDS_LIST}</h3></div>
	<ul class="ul_none">
		<!-- BEGIN item -->
		<li class="rows5_top_1">
			<div class="float-holder ie-widthfix">
			<div class="float_left col75"><input type="checkbox" class="none" name="items[{friends.ELEMENT}][]" value="{item.S_MARK_ID}" checked="checked" />&nbsp;<a class="relevant uunique" href="{item.U_PROFILE}">{item.USERNAME}</a> {L_NEW_FRIEND}</div>
			<div class="float_right col25 a_right">{item.POST_TIME}</div>
			</div>
		</li>
		<!-- END item -->
	</ul>
	</div>
	<!-- END friends -->
	
	<!-- BEGIN userpagem -->
	<div class="rows5_top_2 float-holder ie-widthfix item_block_3">
	<div class="h"><h3>{L_USERPAGE_UNREAD_MESSAGES}</h3></div>
	<ul class="ul_none">
		<!-- BEGIN item -->
		<li class="rows5_top_1">
			<div class="float-holder ie-widthfix">
			<div class="float_left col75"><input type="checkbox" class="none" name="items[{userpagem.ELEMENT}][]" value="{item.S_MARK_ID}" checked="checked" />&nbsp;<a class="relevant uunique" href="{item.U_PROFILE}">{item.USERNAME}</a> {L_NEW_USERPAGE_MESSAGE}</div>
			<div class="float_right col25 a_right">{item.POST_TIME}</div>
			</div>
		</li>
		<!-- END item -->
	</ul>
	</div>
	<!-- END userpagem -->
	
	<!-- BEGIN news -->
	<div class="rows5_top_2 float-holder ie-widthfix item_block_3">
	<div class="h"><h3>{L_NEWS}</h3></div>
	<ul class="ul_none">
		<!-- BEGIN item -->
		<li class="rows5_top_1">
			<div class="float-holder ie-widthfix">
			<div class="float_left col75"><input type="checkbox" class="none" name="items[{news.ELEMENT}][]" value="{item.S_MARK_ID}" checked="checked" />&nbsp;<a class="relevant" href="{item.POST_URL}">{item.POST_TITLE}</a></div>
			<div class="float_right col25 a_right">{item.POST_TIME}</div>
			</div>
		</li>
		<!-- END item -->
	</ul>
	</div>
	<!-- END news -->
	
	<!-- BEGIN forums -->
	<div class="rows5_top_2 float-holder ie-widthfix item_block_3">
	<div class="h"><h3>{L_NEW_FORUM}</h3></div>
	<ul class="ul_none">
		<!-- BEGIN item -->
		<li>
			<div class="float-holder ie-widthfix">
			<div class="float_left col75"><input type="checkbox" class="none" name="items[{forums.ELEMENT}][]" value="{item.S_MARK_ID}" checked="checked" />&nbsp;<a class="relevant<!-- IF item.FOR_MODS --> funique<!-- ENDIF -->"<!-- IF item.TOPIC_COLOR --> style="color:#{item.TOPIC_COLOR};"<!-- ENDIF --> href="{item.TOPIC_URL}">{item.TOPIC_TITLE}</a> ({item.TOPIC_REPLIES})</div>
			<div class="float_right col25 a_right"><!-- IF item.USER_ID != 1 --><a class="relevant uunique" href="{item.USER_PROFILE}">{item.USERNAME}</a><!-- ELSE --><span class="relevant">*{item.USERNAME}</span><!-- ENDIF --><br />{item.DATETIME}</div>
			</div>
		</li>
		<!-- END item -->
	</ul>
	</div>
	<!-- END forums -->
	
	<!-- BEGIN a_messages -->
	<div class="rows5_top_2 float-holder ie-widthfix item_block_3">
	<div class="h"><h3>{L_NEW_UB_MSG}</h3></div>
	<ul class="ul_none">
		<!-- BEGIN item -->
		<li class="rows5_top_1">
			<div class="float-holder ie-widthfix">
			<div class="float_left col75"><input type="checkbox" class="none" name="items[{a_messages.ELEMENT}][]" value="{item.S_MARK_ID}" checked="checked" />&nbsp;{L_POST} <a class="relevant uunique" href="{item.ITEM_URL}">#{item.S_MARK_ID}</a> {L_IN} <a class="relevant" href="{item.UB_URL}">{item.UB}</a></div>
			<div class="float_right col25 a_right"><!-- IF item.USER_ID != 1 --><a class="relevant uunique" href="{item.USER_PROFILE}">{item.USERNAME}</a><!-- ELSE --><span class="relevant">*{item.USERNAME}</span><!-- ENDIF --><br />{item.DATETIME}</div>
			</div>
		</li>
		<!-- END item -->
	</ul>
	</div>
	<!-- END a_messages -->
	
	<!-- BEGIN d_messages -->
	<div class="rows5_top_2 float-holder ie-widthfix item_block_3">
	<div class="h"><h3>{L_NEW_DL_MSG}</h3></div>
	<ul class="ul_none">
		<!-- BEGIN item -->
		<li class="rows5_top_1">
			<div class="float-holder ie-widthfix">
			<div class="float_left col75"><input type="checkbox" class="none" name="items[{d_messages.ELEMENT}][]" value="{item.S_MARK_ID}" checked="checked" />&nbsp;[{item.UD_TYPE}] <a class="relevant" href="{item.ITEM_URL}">#{item.S_MARK_ID}</a> {L_IN} <a class="relevant uunique" href="{item.UD_URL}">{item.UD}</a> {L_OF} <a class="relevant" href="{item.UB_URL}">{item.UB}</a></div>
			<div class="float_right col25 a_right"><!-- IF item.USER_ID != 1 --><a class="relevant uunique" href="{item.USER_PROFILE}">{item.USERNAME}</a><!-- ELSE --><span class="relevant">*{item.USERNAME}</span><!-- ENDIF --><br />{item.DATETIME}</div>
			</div>
		</li>
		<!-- END item -->
	</ul>
	</div>
	<!-- END d_messages -->
	
	<!-- BEGIN a_fav -->
	<div class="rows5_top_2 float-holder ie-widthfix item_block_3">
	<div class="h"><h3>{L_NEW_FANS}</h3></div>
	<ul class="ul_none">
		<!-- BEGIN item -->
		<li class="rows5_top_1">
			<div class="float-holder ie-widthfix">
			<div class="float_left col75"><input type="checkbox" class="none" name="items[{a_fav.ELEMENT}][]" value="{item.S_MARK_ID}" checked="checked" />&nbsp;<a class="relevant uunique" href="{item.USER_PROFILE}">{item.USERNAME}</a> {L_NEW_FAN} <a class="relevant" href="{item.UB_URL}">{item.UB}</a></div>
			<div class="float_right col25 a_right">{item.POST_TIME}</div>
			</div>
		</li>
		<!-- END item -->
	</ul>
	</div>
	<!-- END a_fav -->
	</form>
	<!-- END items -->
</div>
</div>

<!-- INCLUDE page.footer.htm -->