<!-- BEGIN selected -->
<div class="a_center">
	<!-- BEGIN download --><a href="{download.URL}"><!-- END download --><img src="{S_SERVER}{selected.IMAGE}" width="{selected.WIDTH}" height="{selected.HEIGHT}" alt="" /><!-- BEGIN download --></a><!-- END download -->
</div>
<!-- BEGIN download -->
<div class="rows5_top_4"><div class=" a_center dark_box"><a href="{download.URL}">{L_UE_DOWNLOAD}</a></div></div>
<!-- END download -->
<!-- END selected -->

<!-- BEGIN thumbnails -->
<div class="rows5_top_2">
<h2 class="z">Im&aacute;genes</h2>
<ul class="ul_none">
	<!-- BEGIN row -->
	<!-- BEGIN col -->
	<li class="row_3 col25 float_left a_center"><a href="{S_SERVER}{col.RIMAGE}" title="{col.FOOTER}"><img src="{S_SERVER}{col.IMAGE}" alt="{col.FOOTER}" /></a></li>
	<!-- END col -->
	<!-- END row -->
</ul>
</div>
<!-- END thumbnails -->