<div class="section"><h1>{L_SEND_REPLY}</h1></div>

<!-- BEGIN reply_msg -->
<div class="comments">
<a name="first"></a>
<!-- BEGIN item -->
<a name="{item.POST_ID}"></a>
<div id="comment-{item.S_ROW_COUNT}">
<h3><strong>{item.S_ROW_COUNT}</strong><span>.</span> <em><!-- BEGIN username --><a href="{item.PROFILE}"><!-- END username --><img src="{item.USER_AVATAR}" alt="{item.USERNAME}'s Avatar" /><!-- BEGIN username --></a><!-- END username --></em><cite><!-- BEGIN username --><a href="{item.PROFILE}"><!-- END username -->{item.USERNAME}<!-- BEGIN username --></a><!-- END username --></cite> <span>dijo:</span></h3>
<blockquote>
<!-- BEGIN controls -->
<div class="rows5_bot_1 rows5_top a_controls a_right"><!-- BEGIN reply --><a href="{reply.REPLY}">{L_CMT_REPLY}</a><!-- END reply --><!-- BEGIN hidden_report --> <a href="{report.REPORT}">{L_CMT_REPORT}</a><!-- END hidden_report --><!-- BEGIN auth --><!-- IF isset(auth.EDIT) --> <a href="{auth.EDIT}">{L_CMT_EDIT}</a><!-- ENDIF --> <!-- IF isset(auth.DELETE) --> <a href="{auth.DELETE}">{L_CMT_DELETE}</a><!-- ENDIF --><!-- END auth --></div>
<!-- END controls -->
<div class="nowraptext">{item.MESSAGE}</div>
<p class="dtposted">{item.DATETIME}</p>
</blockquote>
<hr /></div>
<!-- END item -->
<!-- IF RMSG_PAGES_NUMS != ' <strong>1</strong>' --><div class="rows5_top pagination">{RMSG_PAGES_NUMS}</div><!-- ENDIF -->
</div>
<!-- END reply_msg -->

<a name="reply"></a>
<div class="rows5_top_2 post_comment">
<div class="section"><h1>{L_SEND_POST}</h1></div>
<!-- BEGIN reply_post_box -->
<form action="{S_COMMENTS}" method="post">
<input type="hidden" name="ref" value="{reply_post_box.REF}" />
<div><label for="comment">{L_POST}</label> - <a class="relevant" onclick="return popup('{S_EMOTICONS}', '_emoticons', 300, 450);" href="{S_EMOTICONS}" target="_blank">{L_EMOTICONS}</a></div>
<div class="rows5_top_1"><textarea id="comment" name="message" cols="150" rows="10"></textarea></div>
<div class="rows5_top_1 a_center"><input class="submit" type="submit" name="submit" value="{L_SUBMIT}" /></div>
</form>
<!-- END reply_post_box -->
<!-- BEGIN reply_no_guest_posting -->
<div class="black_box a_center">{post_members.LEGEND}</div>
<!-- END reply_no_guest_posting -->
<!-- BEGIN reply_no_post_auth -->
<div class="black_box a_center">{reply_no_post_auth.LEGEND}</div>
<!-- END reply_no_post_auth -->
</div>
