!cache/.gitkeep
cache/*
!vendor/npi/
vendor/*

node_modules/*
resources/components/*
public/assets/artists/*
public/assets/events/*
public/assets/news/*
public/assets/images/*
public/assets/g*.js
public/assets/g*.css
public/assets/g*.map

.htda
.DS_Store
composer.lock
sftp-config*.json
npm-debug*.log