!cache/.gitkeep
cache/*
!vendor/npi/
vendor/*

node_modules/*
public/assets/artists/*
public/assets/events/*
public/assets/news/*
public/assets/images/*
public/assets/g*.js
public/assets/g*.css
public/assets/g*.map

composer.lock
.htda
sftp-config*.json
.DS_Store