<!-- INCLUDE page.header.htm -->
<!-- INCLUDE acp/artist_header.htm -->

<div class="h"><h3>Crear espacio de artista</h3></div>

<div class="publish">
	<form action="{MODULE_URL}" method="post">
		Nombre: <input type="text" name="name" value="" /><br />
		Ubicacion: <input type="text" name="location" value="" /><br />
		Local: <input type="checkbox" name="local" value="1" /><br />
		Genero: <input type="text" name="genre" value="" /><br />
		Email: <input type="text" name="email" value="" /><br />
		Sitio web: <input type="text" name="www" value="" /><br />
		Autorizados: <textarea name="mods" value=""></textarea>
		
		<input type="submit" name="submit" value="Crear artista" />
	</form>
</div>

<!-- INCLUDE page.footer.htm -->