<!-- INCLUDE page.header.htm -->

<div class="h"><h3>{L_CONTROL_PANEL}</h3></div>
<!-- IF TOP_NAV != '' -->
<div class="_ a_mid"><a href="{S_CONTROLPANEL}">{L_HOME}</a> &raquo; {TOP_NAV}</div>
<!-- ENDIF -->

<!-- IF MODE == 'home' -->
<!-- BEGIN menu -->
<div class="pad_top a_mid ls">
	<ul>
		<!-- BEGIN item -->
		<li><a href="{item.URL}">{item.NAME}</a></li>
		<!-- END item -->
	</ul>
</div>
<!-- END menu -->

<!-- BEGIN select_a -->
<div class="pad_top ls">
	<ul>
		<!-- BEGIN row -->
		<!-- BEGIN col -->
		<li>
			<ul>
				<li><a class="relevant_artist" href="{col.URL}">{col.NAME}</a></li>
				<li>{col.GENRE}</li>
				<li>{col.LOCATION}</li>
				<li><a href="{col.URL}"><img src="{col.IMAGE}" alt="{col.NAME}" /></a></li>
			</ul>
		</li>
		<!-- END col -->
		<!-- END row -->
	</ul>
</div>
<!-- END select_a -->

<!-- ELSEIF MODE == 'news' -->
<div class="h"><h3>{L_CONTROL_A_NEWS}</h3></div>

<div class="post_comment">
<form action="{S_CONTROL}" method="post">{S_HIDDEN}
<div><label for="comment_np">{L_TOPIC_TITLE}</label></div>
<div class="pad_top"><input id="comment_title" name="title" size="150" value="{TOPIC_TITLE}" /></div>
<div class="pad_top"><label for="comment">{L_POST}</label> - <a class="relevant" onclick="return popup('{S_EMOTICONS}', '_emoticons', 300, 450);" href="{S_EMOTICONS}" target="_blank">{L_EMOTICONS}</a><!-- BEGIN addpoll --> - <span class="relevant" onclick="Element.toggle('addpollbox');">{L_ADD_POLL}</span><!-- END addpoll --></div>
<div class="pad_top"><textarea id="comment" name="message" cols="150" rows="10">{MESSAGE}</textarea></div>
<div class="pad_top a_mid"><input class="submit" type="submit" name="submit" value="{L_SUBMIT}" /></div>
</form>
</div>
<!-- ELSEIF MODE == 'aposts' || MODE == 'dposts' || MODE == 'arposts' -->
<div class="h"><h3>{L_CONTROL_A_APOSTS}</h3></div>

<div class="post_comment">
<form action="{S_CONTROL}" method="post">{S_HIDDEN}
<div><label for="comment_member">{L_MEMBER}</label></div>
<div class="pad_top"><input id="comment_member" name="member" size="150" value="{P_MEMBER}" disabled="disabled" /></div>
<div class="pad_top"><label for="comment">{L_POST}</label> - <a class="relevant" onclick="return popup('{S_EMOTICONS}', '_emoticons', 300, 450);" href="{S_EMOTICONS}" target="_blank">{L_EMOTICONS}</a><!-- BEGIN addpoll --> - <span class="relevant" onclick="Element.toggle('addpollbox');">{L_ADD_POLL}</span><!-- END addpoll --></div>
<div class="pad_top"><textarea id="comment" name="message" cols="150" rows="10">{MESSAGE}</textarea></div>
<div class="pad_top a_mid"><input class="submit" type="submit" name="submit" value="{L_SUBMIT}" /></div>
</form>
</div>
<!-- ELSEIF MODE == 'auth' -->
<form action="{S_CONTROL}" method="post">{S_HIDDEN}
<div class="h"><h3>{L_CONTROL_A_AUTH}</h3></div>

<div class="ctl"><a href="{ADD_MEMBER_URL}">{L_CONTROL_A_AUTH_ADD}</a></div>

<!-- IF MANAGE == 'add' -->
<!-- IF SHOW_INPUT -->
<label for="member">{L_MEMBER}</label>: <input  type="text" id="member" name="s_member" size="35" maxlength="20" /><br />
<div class="pad_top">{L_CONTROL_A_AUTH_ADD_LEGEND}</div>
<!-- ELSE -->
<div class="pad_top">{L_CONTROL_A_AUTH_ADD_LEGEND2}</div>
<!-- ENDIF -->
<!-- ENDIF -->

<!-- BEGIN members -->
<div class="pad_top ls">
	<ul>
		<!-- BEGIN row -->
		<!-- BEGIN col -->
		<li><input type="checkbox" class="none" name="s_members[]" value="{col.USER_ID}"<!-- IF !(col.DELETE) --> disabled="true"<!-- ENDIF --><!-- IF col.CHECK --> checked="true"<!-- ENDIF --> /><a href="{col.PROFILE}"><img src="{col.AVATAR}" alt="{col.USERNAME}" /></a><br /><a href="{col.PROFILE}">{col.USERNAME}</a></li>
		<!-- END col -->
		<!-- END row -->
	</ul>
</div>
<!-- END members -->

<!-- IF (MANAGE == 'home' && RESULTS) || (MANAGE == 'add') -->
<div class="a_mid"><input type="submit" class="submit" name="submit" value="<!-- IF MANAGE == 'add' -->{L_SUBMIT}<!-- ELSE -->{L_DELETE_MARKED}<!-- ENDIF -->" /></div>
<!-- ENDIF -->
</form>

<!-- ELSEIF MODE == 'log' -->
<div class="h"><h3>{L_CONTROL_A_LOG}<!-- IF MEMBER --> &raquo; <a href="{PROFILE}">{USERNAME}</a><!-- ENDIF --></h3></div>

<!-- BEGIN members -->
<div class="pad_top ls">
	<ul>
		<!-- BEGIN row -->
		<!-- BEGIN col -->
		<li><a href="{col.U_VIEWLOG}"><img src="{col.AVATAR}" title="{col.USERNAME}" /></a><div class="sep-top"><a style="color:#{col.COLOR}; font-weight: bold" href="{col.U_VIEWLOG}">{col.USERNAME}</a></div><div class="sep3-top"><small><strong>{col.TOTAL}</strong> {col.ACTION}</small></div></li>
		<!-- END col -->
		<!-- END row -->
	</ul>
</div>
<!-- END members -->

<!-- ELSEIF MODE == 'biography' -->
<div class="h"><h3>{L_CONTROL_A_BIOGRAPHY}</h3></div>

<!-- BEGIN updated -->
<div class="w">{L_CONTROL_A_BIOGRAPHY_UPDATED}</div>
<!-- END updated -->

<div class="post_comment">
	<form action="{S_CONTROL}" method="post">{S_HIDDEN}
	<div class="pad_top"><label for="comment">{L_POST}</label> - <a class="relevant" onclick="return popup('{S_EMOTICONS}', '_emoticons', 300, 450);" href="{S_EMOTICONS}" target="_blank">{L_EMOTICONS}</a><!-- BEGIN addpoll --> - <span class="relevant" onclick="Element.toggle('addpollbox');">{L_ADD_POLL}</span><!-- END addpoll --></div>
	<div class="pad_top"><textarea id="comment" name="message" cols="150" rows="30">{MESSAGE}</textarea></div>
	<div class="pad_top a_mid"><input class="submit" type="submit" name="submit" value="{L_SUBMIT}" /></div>
	</form>
</div>

<!-- ELSEIF MODE == 'downloads' -->
<div class="h"><h3>{L_CONTROL_A_DOWNLOADS}<!-- IF MANAGE == 'home' --> &raquo; <a href="{ADD_DOWNLOAD_URL}">{L_CONTROL_A_DOWNLOADS_ADD}</a><!-- ENDIF --></h3></div>

<form action="{S_CONTROL}" method="post"<!-- IF MANAGE == 'add' --> enctype="multipart/form-data"<!-- ENDIF --> name="post">
	
<!-- IF MANAGE == 'add' -->
<div>{L_CONTROL_A_GALLERY_ADD_LEGEND}</div>
<div class="pad_top"><input type="hidden" name="MAX_FILE_SIZE" value="{MAX_FILESIZE}" /><input type="file" name="add_image" size="25" /></div>
<div class="pad_top"><input type="checkbox" name="allow_dl" value="1" checked="checked" /> {L_CONTROL_A_GALLERY_ALLOW_DL}</div>
<div class="pad_top a_mid">{S_HIDDEN}<input type="submit" class="bold w100p" name="submit" value="{L_SUBMIT}" /></div>
<!-- ENDIF -->

<!-- BEGIN downloads -->
<div class="pad_top ls">
	<ul>
		<!-- BEGIN row -->
		<!-- BEGIN col -->
		<li>
			<ul>
				<li><a href="{col.URL}"><img src="{col.IMAGE_TYPE}" /></a></li>
				<li><a href="{col.URL}">{col.DOWNLOAD_TITLE}</a></li>
				<li>{col.VIEWS}v <span class="soft">|</span> {col.DOWNLOADS}d <span class="soft">|</span> <!-- IF col.POSTS --><a class="red" href="{col.POSTS_URL}" target="_blank"><!-- ENDIF -->{col.POSTS}m<!-- IF col.POSTS --></a><!-- ENDIF --></li>
				<li><input type="checkbox" class="none" name="s_downloads[]" value="{col.ITEM}" /></li>
				<li></li>
			</ul>
		</li>
		<!-- END col -->
		<!-- END row -->
	</ul>
</div>

<div align="center" class="sep2-top">{S_HIDDEN}<input type="submit" class="bold <!-- IF MANAGE == 'add' -->w100p<!-- ELSE -->w150p<!-- ENDIF -->" name="submit" value="<!-- IF MANAGE == 'add' -->{L_SUBMIT}<!-- ELSE -->{L_DELETE_MARKED}<!-- ENDIF -->" /></div>
<!-- END downloads -->

</form>

<!-- ELSEIF MODE == 'stats' -->
<div class="h"><h3>{L_CONTROL_A_STATS}</h3></div>

<div class=""><strong>{L_VISITS_COUNT}:</strong> {BEFORE_VIEWS} {L_MEMBERS_TOTAL}</div>
<!-- IF SHOW_VIEWS_LEGEND --><br />{L_CONTROL_A_STATS_LEGEND}<!-- ENDIF -->

<!-- BEGIN year -->
<!-- IF year.S_NUM_ROWS > 1 -->
<!-- IF year.S_ROW_COUNT == 0 --><div class="h"><h3><!-- ENDIF -->
<!-- IF year.S_ROW_COUNT --> . <!-- ENDIF --><a href="#{year.YEAR}">{year.YEAR}</a>
<!-- IF year.S_ROW_COUNT == year.S_NUM_ROWS - 1 --></h3></div><!-- ENDIF -->
<!-- ENDIF -->
<!-- END year -->

<div id="poll">
<!-- BEGIN year -->
<a name="{year.YEAR}"></a>
<div class="pad_top"><div class="dark_box">
<h2>{year.YEAR}</h2>
<ul class="ul_none">
	<!-- BEGIN month -->
	<!-- IF month.TOTAL -->
	<li>
	<div class="caption">{month.NAME} -- <span><strong>{month.TOTAL}</strong> {L_MEMBERS_TOTAL}</span> <span class="soft">|</span> <strong>{month.MEMBERS}</strong> <!-- IF month.MEMBERS == 1 -->{L_MEMBERS_VISIBLE}<!-- ELSE -->{L_MEMBERS_VISIBLE2}<!-- ENDIF --> <span class="soft">|</span> <strong>{month.GUESTS}</strong> <!-- IF month.GUESTS == 1 -->{L_MEMBERS_GUESTS}<!-- ELSE -->{L_MEMBERS_GUESTS2}<!-- ENDIF --></span></div>
	<div class="bar"><div style="width: {month.PERCENT}%;" title="{month.TOTAL} {L_MEMBERS_TOTAL}">&nbsp;</div></div>
	</li>
	<!-- ENDIF -->
	<!-- END month -->
</div></div>
<!-- END year -->
</span>

<!-- ELSEIF MODE == 'video' -->
<div class="h"><h3>{L_CONTROL_A_VIDEO}</h3></div>

<!-- IF MANAGE == 'home' -->
<div class="pad_top"><a href="{ADD_VIDEO_URL}">{L_CONTROL_A_VIDEO_ADD}</a></div>
<!-- ELSEIF MANAGE == 'add' -->
<form action="{S_CONTROL}" method="post">{S_HIDDEN}
<div>{L_CONTROL_A_VIDEO_ADD_LEGEND}</div>
<div class="pad_top">T&iacute;tulo del video: <input type="text" name="vname" size="50" /></div>
<div class="pad_top"><strong>URL o c&oacute;digo:</strong> &nbsp;&nbsp;&nbsp; <input type="text" name="code" size="50" /></div>
<div class="pad_top a_center">{S_HIDDEN}<input type="submit" class="submit" name="submit" value="{L_SUBMIT}" /></div>
</form>
<!-- ENDIF -->

<!-- BEGIN video -->
<!-- BEGIN row -->
<div class="pad_top a_mid">
	<object width="425" height="355">
		<param name="movie" value="http://www.youtube.com/v/{row.CODE}&hl=en"></param>
		<param name="wmode" value="transparent"></param>
		<embed src="http://www.youtube.com/v/{row.CODE}&hl=en" type="application/x-shockwave-flash" wmode="transparent" width="425" height="355"></embed>
	</object>
</div>
<!-- END row -->
<!-- END video -->
<!-- ENDIF -->

<!-- INCLUDE page.footer.htm -->