// General
// $font            = 'Open Sans', Arial, Helvetica Neue, Helvetica, sans-serif
$font            = 'Open Sans', sans-serif
$icon-font       = 'FontAwesome'

$blue-base       = #1ca3dc
$blue-dark		 = #005984
$blue-light		 = #d6eff6
$orange-base 	 = #e36f1e
$yellow-base	 = #fcd97e
$border-gray 	 = #d1d0ce
$border-dark 	 = #050402
$gray-light 	 = #f3f3f3
$color-text 	 = #616161
$widget-text 	 = #373737
$footer-text 	 = #54565b
$gray-base 		 = #a8a8aa
$body-bg 		 = #f5f5f5
$disclaimer-text = #76777b

$large-font 	= 24px
$normal-font 	= 16px
$small-font 	= 14px
$error-color    = #f80503

// Colors
$brand-primary  = #27ae60

$img-path       = '/dist/images'
$fnt-path       = '/dist/fonts'

// Non-Mobile First Method
$os                 = 'only screen and '
$lg                 = $os + '(max-width 1200px)'
$md                 = $os + '(max-width 992px)'
$sm                 = $os + '(max-width 768px)'
$xs                 = $os + '(min-width: 320px) and (max-width 767px)'
$iphone-4-portrait  = $os + '(max-width: 320px)'
$iphone-4-landscape = $os + '(max-width: 600px) and (orientation landscape)'
$phablet            = $os + '(max-width 600px)'
$top-scroll         = $os + '(min-width 767px)'
$ipad-landscape     = $os + '(min-width 768px) and (max-width 1024px) and (orientation landscape)'
$ipad-portrait      = $os + '(min-width 768px) and (max-width 1024px) and (orientation portrait) and (-webkit-min-device-pixel-ratio 1)'
$nexus-10           = $os + '(min-width 800px) and (max-width 1280px) and (orientation portrait)'
$nexus-10-landscape = $os + '(min-width 800px) and (max-width 1280px) and (orientation landscape)'
$iphone-landscape   = $os + '(max-width 768px) and (orientation landscape)'
$iphone-portrait    = $os + '(max-width 768px) and (orientation portrait)'
$xs-landscape       = $os + '(max-device-width 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation landscape)'
$media-menu-xs      = 'screen and (max-width 768px)'
