<!-- INCLUDE page.header.htm -->

<section class="section">
    <h1 class="title has-text-white">{L_ACP}</h1>
</section>

<!-- BEGIN acp_list -->
<!-- BEGIN row -->
<div class="columns">
    <!-- BEGIN col -->
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-5"><a href="{col.URL}">{col.NAME}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END col -->
</div>
<!-- END row -->
<!-- END acp_list -->

<!-- INCLUDE page.footer.htm -->
