
<!-- BEGIN video -->
<div class="x2 a_mid">
	<!-- BEGIN row -->
	<div class="pad_top">
		<div class="a_mid hg">{row.NAME}</div>
		<div class="pad_top">
			<object width="425" height="355">
				<param name="movie" value="http://www.youtube.com/v/{row.CODE}&hl=en"></param>
				<param name="wmode" value="transparent"></param>
				<embed src="http://www.youtube.com/v/{row.CODE}&hl=en" type="application/x-shockwave-flash" wmode="transparent" width="425" height="355"></embed>
			</object>
		</div>
	</div>
	<!-- END row -->
</div>
<!-- END video -->