<!-- INCLUDE page.header.htm -->

<div class="">
<div class="head-float-left">
<div class="sep"><h1>{L_CHAT}</h1></div>
<h1 class="red">{L_CHAT_CREATE}</h1>
</div>
<div class="head-float-right">
<br /><br /><div class="sep"></div><div><a class="fnt12 bold red" href="{U_CHAT}">{L_RETURN_CHAT}</a></div>
</div>
</div>
</div>

<!-- BEGIN error -->
<a name="e"></a>
<div class="m6">
<div class="box color">
<div class="head">{L_ERROR}</div>
<div class="pad12 a_mid"><div class="sep"><img class="icon" src="/net/images/logout.png" width="18" height="18" /></div>{error.MESSAGE}</div>
</div>
</div>
<!-- END error -->

<div class="m6">

</div>

<!-- INCLUDE page.footer.htm -->