<!-- INCLUDE page.header.htm -->

<!-- BEGIN gallery -->
<section class="section">
    <h1 class="title has-text-white">Galer&iacute;a</h1>
</section>

<div class="columns">
    <!-- BEGIN item -->
    <div class="column">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <a href="{item.URL}"><img src="{item.IMAGE}" alt="" /></a>
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-6"><a href="{item.URL}">{item.TITLE}</a></p>
                        <!-- <p class="subtitle is-6">{item.DATETIME}</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END item -->
</div>

<!-- IF PAGES_NUMS != '' -->
<div class="p">{PAGES_NUMS}</div>
<!-- ENDIF -->
<!-- END gallery -->

<!-- BEGIN future -->
<section class="section">
    <!-- BEGIN set -->
    <section class="section">
        <h1 class="title has-text-white">{set.L_TITLE}</h1>
    </section>

    <div class="columns">
        <!-- BEGIN item -->
        <div class="column">
            <div class="box">
                <a href="{item.U_TOPIC}"><img src="{item.SRC}" alt="" /></a>
                <br /><br />
                <p class="title is-6 has-text-centered">
                    <a href="{item.U_TOPIC}">{item.TITLE}</a>
                </p>
            </div>
        </div>
        <!-- END item -->
    </div>
    <!-- END set -->
</section>
<!-- END future -->

<!-- INCLUDE page.footer.htm -->
