<!-- INCLUDE page.header.htm -->

<!-- BEGIN next_event -->
<section class="section">
    <div class="columns">
        <!-- BEGIN row -->
        <div class="column">
            <div class="box">
                <a href="{row.URL}"><img src="{row.IMAGE}" alt="" /></a>
                <!-- <br /><br />
                <p class="title is-6 has-text-centered">
                    <a href="{row.URL}">{row.TITLE}</a>
                </p> -->
            </div>
        </div>
        <!-- END row -->
    </div>
</section>
<!-- END next_event -->

<!-- BEGIN thumbnails -->
<section class="section">
    <h1 class="title has-text-white">{L_ARTISTS}</h1>
</section>

<div class="columns">
    <!-- BEGIN item -->
    <div class="column">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <a href="{item.URL}"><img src="{item.IMAGE}" alt="" /></a>
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4"><a href="{item.URL}">{item.NAME}</a></p>
                        <p class="subtitle is-6">{item.GENRE}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END item -->
</div>
<!-- END thumbnails -->

<!-- BEGIN news -->
<section class="section">
    <div class="columns">
        <div class="column is-three-fifths">
            <h1 class="title has-text-white">{L_LATEST_NEWS}</h1>
        </div>

        <!-- BEGIN create -->
        <div class="column">
            <a class="button is-pulled-right is-warning is-medium" href="{create.U_NEWS_CREATE}">Publicar informaci&oacute;n</a></li>
        </div>
        <!-- END create -->
    </div>
</section>

<div class="tile is-ancestor">
    <div class="tile is-parent">
        <!-- BEGIN row -->
        <!-- IF row.S_ROW_COUNT == 0 -->
        <article class="tile is-child notification is-success is-bold">
            <div class="content">
                <p class="title"><a href="{row.URL}">{row.MESSAGE}</a></p>

                <div class="content">
                    <figure class="image is-4by3">
                        <img src="{row.IMAGE}" />
                    </figure>
                </div>
            </div>
        </article>
        <!-- ENDIF -->
        <!-- END row -->
    </div>

    <div class="tile is-vertical is-8">
        <div class="tile">
            <div class="tile is-parent">
                <!-- BEGIN row -->
                <!-- IF row.S_ROW_COUNT == 1 -->
                <article class="tile is-child notification is-info">
                    <p class="title"><a href="{row.URL}">{row.MESSAGE}</a></p>

                    <figure class="image is-4by3">
                        <img src="{row.IMAGE}" />
                    </figure>
                </article>
                <!-- ENDIF -->
                <!-- END row -->
            </div>
            <div class="tile is-parent is-vertical">
                <!-- BEGIN row -->
                <!-- IF row.S_ROW_COUNT > 1 -->
                <article class="tile is-child notification is-link">
                    <p class="title"><a href="{row.URL}">{row.MESSAGE}</a></p>
                </article>
                <!-- ENDIF -->
                <!-- END row -->
            </div>

        </div>
    </div>
</div>

<div class="has-text-centered">
    <a class="button is-link is-large" href="{U_NEWS}">Leer m&aacute;s noticias</a>
</div>
<!-- END news -->

<div class="columns">
    <!-- BEGIN board_general -->
    <div class="column is-three-fifths">
        <section class="section">
            <h1 class="title has-text-white">{L_BOARD_LATEST}</h1>
        </section>

        <ul>
            <!-- BEGIN item -->
            <li><a class="has-text-white is-size-5" href="{item.U_TOPIC}">{item.TOPIC_TITLE}</a></li>
            <!-- <li class="_"><a href="{item.PROFILE}">{item.USERNAME}</a> public&oacute; a las {item.POST_TIME}</li> -->
            <!-- END item -->
        </ul>
    </div>
    <!-- END board_general -->

    <!-- BEGIN poll -->
    <div class="column">
        <section class="section">
            <h1 class="title has-text-white">{poll.POLL_TITLE}</h1>
        </section>

        <div id="poll" class="pad_top">
            <div class="h"><h3>{poll.POLL_TITLE}</h3></div>
            <!-- BEGIN options -->
            <form method="post" action="{options.S_VOTE_ACTION}">
            <!-- END options -->
            <ul>
            <!-- BEGIN results -->
            <!-- BEGIN item -->
            <li>
                <div class="caption">{item.CAPTION} <span>({item.RESULT})</span></div>
                <div class="bar"><div style="width: {item.PERCENT}%;">&nbsp;</div></div>
            </li>
            <!-- END item -->
            <!-- END results -->
            <!-- BEGIN options -->
            <!-- BEGIN item -->
            <li><input type="radio" id="vo_{item.POLL_OPTION_ID}" name="vote_id" value="{item.POLL_OPTION_ID}" /> <label for="vo_{item.POLL_OPTION_ID}">{item.POLL_OPTION_CAPTION}</label></li>
            <!-- END item -->
            <!-- END options -->
            </ul>
            <!-- BEGIN options -->
            <div class="pad_top a_mid"><input class="submit" type="submit" name="vote" value="{L_VOTE}" /></div>
            <!-- END options -->
            <div class="a_right"><a href="{poll.U_POLL_TOPIC}">{poll.S_REPLIES} <!-- IF poll.S_REPLIES == 1 -->{L_POLL_COMMENT}<!-- ELSE -->{L_POLL_COMMENTS}<!-- ENDIF --></a></div>
            <!-- BEGIN options -->
            </form>
            <!-- END options -->
        </div>
    </div>
    <!-- END poll -->
</div>

<!-- INCLUDE page.footer.htm -->
