<span class="clear"></span>

</div>

<!-- BEGIN hidden -->
{S_SQL}{S_TIME}s
<!-- END hidden -->

<div id="footer">
    <div class="el_left"><a href="{S_SERVER}">Rock Republik Networks</a> &copy; {S_YEAR}</div>
    <div class="el_right a_right ls_inline">
        <ul>
            <li><a href="mailto:info&#64;rockrepublik.net">Cont&aacute;ctanos</a></li>
            <li><a href="{U_HELP}">{L_HELP}</a></li>
            <li><a href="{U_TOS}">{L_TOS}</a></li>
        </ul>
    </div>
</div>

</div>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5286468b2c629d0f"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 5
    },
    'follow' : {
      'services' : [
        {'service': 'facebook', 'id': 'rockrepublik'},
        {'service': 'twitter', 'id': 'rockrepublik'}
      ]
    }
  });
</script>

</body>
</html>
