<div class="page">

	<div class="header">
		<div class="brand">
			<h1><a href="{U_HOME}" title="{L_APPLICATION}">{L_APPLICATION}</a></h1>
			<h2>{L_APPLICATION_DESC}</h2>
		</div>

		<!-- IF ! S_MEMBER -->
		<div id="sign">
			<ul>
				<li><a id="signup" href="{U_SESSION}">{L_USER_IDENTITY}</a></li>
			</ul>
		</div>
		<!-- ENDIF -->

		<span class="clear"></span>

		<div id="menu">
			<ul>
				<!-- IF S_MEMBER -->
                <li class="mb"><a href="{U_PROFILE}" title="{S_USERNAME}">{S_USERNAME}</a>
                <li><a href="{U_EDITPROFILE}">{L_PREFERENCES}</a></li>
                <!-- BEGIN hide -->
				<li class="mb"><a href="{U_WHATS_NEW}" title="{S_TODAY_COUNT}">{L_THENEW}</a></li>
                <!-- END hide -->
				<!-- ENDIF -->
				<li class="mb"><a href="{U_ARTISTS}" title="{L_UB}">{L_UB}</a></li>
				<li class="mb mb-events"><a href="{U_EVENTS}" title="{L_UE}">{L_UE}</a></li>
				<li class="mb mb-forum"><a href="{U_FORUM}" title="{L_FORUM}">{L_FORUM}</a></li>
				<li class="mb mb-broadcast"><a href="{U_BROADCAST}" title="{L_BROADCAST}">{L_BROADCAST}</a></li>
				<li class="mb mb-community"><a href="{U_COMMUNITY}" title="{L_COMMUNITY}">{L_COMMUNITY}</a></li>
				<!-- BEGIN hide -->
				<li><a href="{U_ALLIES}" title="{L_ALLIES}">{L_ALLIES}</a></li>
				<li><a href="{U_AWARDS}" title="{L_AWARDS}">{L_AWARDS}</a></li>
				<!-- END hide -->
				<!-- IF U_ACP != '' -->
				<li class="mb mb-acp"><a href="{U_ACP}">{L_CONTROL_PANEL}</a></li>
				<!-- ENDIF -->
                <!-- IF S_MEMBER -->
                <li><a href="{U_SESSION}">{L_LOGOUT2}</a></li>
				<!-- ENDIF -->
				<!-- BEGIN hide -->
				<li><a id="facebook" href="//www.facebook.com/rockrepublik" target="_facebook">Facebook</a>
					<!-- BEGIN hide -->
					<ul id="expand_facebook">
						<li>
							<script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US"></script>
							<script type="text/javascript">FB.init("fed8ea7d6067b5b601104fb41cabf9c0");</script>
							<fb:fan profile_id="48722647107" stream="1" connections="0" width="212"></fb:fan>
						</li>
					</ul>
					<!-- END hide -->
				</li>
				<li><a id="twitter" href="//www.twitter.com/rockrepublik" target="_twitter">Twitter</a></li>
				<!-- END hide -->
			</ul>
		</div>

		<div class="soc ls_inline">
			<ul>
				<li><a id="facebook" href="//www.facebook.com/rockrepublik" target="_facebook">Facebook</a></li>
				<li><a id="twitter" href="//www.twitter.com/rockrepublik" target="_twitter">Twitter</a></li>
			</ul>
		</div>

		<span class="clear"></span>
	</div>

	<hr />
	<div id="search_result"></div>

	<div id="content">
