<!DOCTYPE HTML>
<html lang="es">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<title><!-- IF PAGE_TITLE != 'Inicio' -->{PAGE_TITLE} en <!-- ENDIF -->Rock Republik<!-- IF PAGE_TITLE == 'Inicio' -->, la comunidad m&aacute;s grande de rock en Guatemala<!-- ENDIF --></title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet">
<link rel="stylesheet" href="{S_DIST}styles/main.css" />
<link rel="shortcut icon" href="/favicon.ico" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{S_DIST}scripts/main.js" type="text/javascript"></script>
<!-- IF PAGE_TITLE == 'Inicio' -->
<meta name="description" content="{S_DESCRIPTION}" />
<meta name="keywords" content="{S_KEYWORDS}" />
<!-- ENDIF -->
<link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/rockrepublik_news" title="{L_RSS_NEWS}"/>
