
<nav class="navbar is-link">
    <div class="navbar-brand">
        <a class="navbar-item" href="{U_HOME}">
            <img src="/dist/images/logo.jpg" alt="Rock Republik" height="28">
        </a>
        <div class="navbar-burger burger" data-target="navbar_menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <!-- BEGIN hide -->
    <li class="mb"><a href="{U_WHATS_NEW}" title="{S_TODAY_COUNT}">{L_THENEW}</a></li>
    <!-- END hide -->

    <!-- BEGIN hide -->
    <li class="mb mb-broadcast"><a href="{U_BROADCAST}" title="{L_BROADCAST}">{L_BROADCAST}</a></li>
    <!-- END hide -->

    <!-- BEGIN hide -->
    <li><a href="{U_ALLIES}" title="{L_ALLIES}">{L_ALLIES}</a></li>
    <li><a href="{U_AWARDS}" title="{L_AWARDS}">{L_AWARDS}</a></li>
    <!-- END hide -->

    <div id="navbar_menu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{U_HOME}">
                {L_APPLICATION}
            </a>
            <!-- IF S_MEMBER -->
            <a class="navbar-item" href="{U_PROFILE}">
                {S_USERNAME}
            </a>
            <a class="navbar-item" href="{U_EDITPROFILE}">
                {L_PREFERENCES}
            </a>
            <!-- ENDIF -->

            <a class="navbar-item" href="{U_ARTISTS}">
                {L_UB}
            </a>
            <a class="navbar-item" href="{U_EVENTS}">
                {L_UE}
            </a>
            <a class="navbar-item" href="{U_FORUM}">
                {L_FORUM}
            </a>
            <a class="navbar-item" href="{U_COMMUNITY}">
                {L_COMMUNITY}
            </a>

            <!-- IF U_ACP != '' -->
            <a class="navbar-item" href="{U_ACP}">
                {L_CONTROL_PANEL}
            </a>
            <!-- ENDIF -->

            <!-- IF S_MEMBER -->
            <a class="navbar-item" href="{U_SESSION}">
                {L_LOGOUT2}
            </a>
            <!-- ENDIF -->
        </div>

        <div class="navbar-end">
            <!-- IF ! S_MEMBER -->
            <a class="navbar-item" href="{U_SESSION}">
              {L_USER_IDENTITY}
            </a>
            <!-- ENDIF -->
            <a class="navbar-item" href="//www.facebook.com/rockrepublik">
              Facebook
            </a>
            <a class="navbar-item" href="//www.twitter.com/rockrepublik">
              Twitter
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div id="content">
