<!-- INCLUDE page.header.htm -->

<form name="post" action="{S_UPLOAD_ACTION}" method="post" enctype="multipart/form-data">
	<div>Los archivos deben ser formato WMA, tama&ntilde;o de archivo <strong>{MAX_FILESIZE2}</strong> MB m&aacute;ximo.</div>
	<div class="pad_top">
		<input type="hidden" name="MAX_FILE_SIZE" value="{MAX_FILESIZE}" />
		<input type="file" name="add_dl[]" size="50" />
	</div>

	<div class="pad_top">
		<div>Artista:</div>
		<select name="artist">{SELECT_A}</select>
		
		<div class="pad_top a_mid">{S_HIDDEN}<input type="submit" class="submit" name="submit" value="{L_SUBMIT}" /></div>
	</div>
</form>

<!-- INCLUDE page.footer.htm -->