<!-- INCLUDE page.header.htm -->

<div class="a_mid">
	<h1>Unir Temas</h1><br>
	<h2><strong>Nota:</strong> Antes de utilizar por favor lee las instrucciones en <a href="http://www.rockrepublik.net/topic/8703/" target="_blank">Funci&oacute;n Unir Temas</a>.</h2><br />
	
	<form action="<?php echo $u; ?>" method="post">
		<div>Tema origen: <input type="text" name="from_topic" /></div>
		<div>Tema destino: <input type="text" name="to_topic" /></div>
		<div><input type="submit" name="submit" value="Enviar" /></div>
	</form>
</div>

<!-- INCLUDE page.footer.htm -->