<!-- INCLUDE page_header.htm -->

<!-- BEGIN error -->
<a name="e"></a><div class="rows5_top_2"><div class="error_block"><h2>{L_ERROR}</h2><p>{error.MESSAGE}</p></div></div>
<!-- END error -->


<div align="center">
<h1>Unir Temas</h1><br>
<h2><strong>Nota:</strong> Antes de utilizar por favor lee las instrucciones en <a href="http://www.rockrepublik.net/topic/8703/" target="_blank">Funcion Unir Temas (Beta)</a>.</h2><br />
<form action="<?php echo $u; ?>" method="post">
Tema origen: <input type="text" name="from_topic" /><br /><br />
Tema destino: <input type="text" name="to_topic" /><br /><br />
<input type="submit" name="submit" value="Enviar" />
</form>

</div>

<!-- INCLUDE page_footer.htm -->