<!-- INCLUDE page.header.htm -->

<div class="h"><h3>Subir musica</h3></div>

<form name="post" action="{MODULE_URL}" method="post" enctype="multipart/form-data">
	<div></div>
	<div class="pad_top">
		<input type="hidden" name="MAX_FILE_SIZE" value="{UPLOAD_MAXSIZE}" />
		<input type="file" name="add_dl[]" size="50" />
	</div>

	<div class="pad_top">
		<!-- BEGIN artists -->
		<label>Artista:</label>
		<select name="artist">
			<!-- BEGIN row -->
			<option value="{row.ARTIST_ID}">{row.ARTIST_NAME}</option>
			<!-- END row -->
		</select>
		<!-- END artists -->
		
		<div class="pad_top a_mid">{S_HIDDEN}<input type="submit" class="submit" name="submit" value="{L_SUBMIT}" /></div>
	</div>
</form>

<!-- INCLUDE page.footer.htm -->