<!-- INCLUDE page.header.htm -->

<form action="<?php echo $u; ?>" method="post">
	Nombre: <input type="text" name="name" value="" /><br />
	Ubicacion: <input type="text" name="location" value="" /><br />
	Local: <input type="checkbox" name="local" value="1" /><br />
	Genero: <input type="text" name="genre" value="" /><br />
	Email: <input type="text" name="email" value="" /><br />
	Sitio web: <input type="text" name="www" value="" /><br />
	Autorizados: <textarea name="mods" value=""></textarea>
	
	<input type="submit" name="submit" value="Crear artista" />
</form>

<!-- INCLUDE page.footer.htm -->