<!-- INCLUDE page.header.htm -->

<!-- INCLUDE acp/error.htm -->

<div class="pad_top publish">
	<div class="h"><h3>{L_UE}</h3></div>
	<form action="{MODULE_URL}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="MAX_FILE_SIZE" value="{UPLOAD_MAXSIZE}" />
		{S_HIDDEN}
		
		<input class="f ff" type="file" name="event_image[]" />
		
		<span class="clear"></span>
		
		<label for="event_name">Nombre de evento</label>
		<input class="f ff" id="event_name" name="event_name" value="" />
		
		<span class="clear"></span>
		
		<label for="event_day">Fecha</label>
		<input class="f ff" type="text" name="event_day" size="2" value="" />
		<input class="f ff" type="text" name="event_month" size="2" value="" />
		<input class="f ff" type="text" name="event_year" size="5" value="" />
		
		<span class="clear"></span>
		
		<label for="event_hours">Hora (24 horas)</label>
		<input class="f ff" type="text" name="event_hours" size="2" value="" />
		<input class="f ff" type="text" name="event_minutes" size="2" value="" />
		
		<span class="clear"></span>
		
		<label for="event_artists">Artistas de Rock Republik</label>
		<textarea id="event_artists" name="event_artists"></textarea>
		
		<span class="clear"></span>
		
		<!-- BEGIN topics -->
		<label for="event_current_topic">Tema actual (opcional)</label>
		<select name="event_current_topic">
			<option value="0">--</option>
			<!-- BEGIN row -->
			<option value="{row.TOPIC_ID}">{row.TOPIC_TITLE}</option>
			<!-- END row -->
		</select>
		<!-- END topics -->
		
		<input type="submit" name="submit" value="{L_SUBMIT}" />
	</form>
</div>

<!-- INCLUDE page.footer.htm -->