@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu'), url(style/Ubuntu-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(style/Ubuntu-Bold.woff) format('woff');
}

body {
	margin: 0;
	padding: 0;
	background: url(style/wood.jpg) fixed top center #202837;
}
p, div, span, select {
	cursor: default;
}
p, div, span, input, textarea, select, a, optgroup, h1, h2 {
	margin: 0;
	font-family: 'Ubuntu', Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	/*text-shadow: 1px 1px 1px #222;*/
}
p, div, span, input, textarea, select, a, optgroup {
	font-size: 9pt;
	color: #d0ced1;
}
select, optgroup {
	color: #40474A;
}
h1, h2 {
	color: #868670;
}
a {
	color: #c3c2c4;
}
a:hover {
	text-decoration: underline;
}
form, img {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: middle;
}
img {
	max-width: 100%;
}
input, textarea, select {
	background: #40474A;
	border: 0;
	padding: 2px;
	box-shadow: 1px 1px 1px #111;
}
hr {
	display: block;
	clear: both;
	visibility: hidden;
	margin: 0;
	height: 0.1em;
	line-height: 0.1em;
}

.page {
	width: 960px;
	margin: 0 auto;
}

#content {
	padding: 10px;
	clear: both;
	border: 1px solid #161C26;
	background: rgba(0,0,0,0.6);
	border-radius: 10px;
}

.header {
	display: block;
	width: 100%;
	margin: 5px 0 5px 0;
	overflow: hidden;
}
.brand {
	width: 75%;
	float: left;
}
.brand h1 {
	width: 300px;
	height: 51px;
	float: left;
}
.brand h1 a {
	display: block;
	width: 300px;
	height: 47px;
	/*border: 1px solid #ccc;*/
	background: url(style/header.gif) no-repeat;
	text-indent: -10000px;
}
.brand h1 a:hover {
	background-position: 0 -47px;
}
.brand h2 {
	display: none;
}
#menu {
	display: block;
	float: left;
	margin-top: 1px;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}
#menu ul li {
	float: left;
	margin-right: 15px;
}
#menu ul li a {
	display: inline;
}
#menu ul li a:hover {
	
}
#sign, #search {
	float: right;
	margin: 8px 8px 0 0;
}
#sign ul {
	margin: 0;
	padding: 0;
}
#sign ul li {
	float: left;
	margin-top: 0;
	margin-left: 15px;
	list-style: none;
}
#sign ul li a {
	padding: 4px;
	background: #F5B800;
	color: #000;
	border: 1px solid #DBA400;
	border-radius: 5px;
}
#sign ul li a:hover {
	text-decoration: none;
	background: #DBA400;
}
#sign ul li ul {
	display: none;
}
#search fieldset {
	border: 0;
}
#search {
	position: relative;
	left: 0;
	top: 0;
}
#search input {
	background: #444;
	border: 0px solid #383838;
	box-shadow: 0 !important;
	color: #d0ced1;
	margin: 0 3px 0 5px;
	padding: 1px;
}
#search input.submit {
	padding: 1px;
	font-weight: normal;
}
#search_result {
	display: none;
	background: #444;
	color: #EEE;
	border-right: 1px solid #383838;
	border-left: 1px solid #383838;
	border-bottom: 1px solid #383838;
	position: absolute;
	right: 14px;
	top: 23px;
	height: 250px;
	width: 171px;
	padding: 3px;
	overflow: auto;
}

#footer {
	padding: 22px 0 25px 0;
}

.defaultInput {
	font-size: 10px;
	color: #BBB !important;
}
.webResult {
	margin-bottom: 10px;
}
.webResult h2 {
	width: 98% !important;
	height: auto !important;
	background-color: #5D6F7B;
	font-size: 11px;
	font-weight: normal;
	padding: 2px;
	border-radius: 3px;
	text-indent: 0 !important;
}
.webResult h2 a {
	color: #eee;
	border: none;
}
.webResult p {
	/*line-height: 1.5;*/
	padding: 5px;
}
.webResult p b {
	color: #FFF;
}
.webResult > a {
	margin-left: 5px;
}
.flying {
	display: none;
	background: rgba(0,0,0,0.6);
	color: #EEE;
	position: absolute;
	padding: 3px;
	overflow: auto;
	
	border-right: 1px solid #383838;
	border-left: 1px solid #383838;
	border-bottom: 1px solid #383838;
	
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.flying li {
	float: none !important;
	margin: 30px;
}

#facebook {
	color: #65A8D0;
}
#twitter {
	color: #9AE4E8;
}

.share {
}
.share a {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	background: url(style/share.png);
}

.h {
	margin: 5px 0 10px 0;
}
.h h3 {
	display: inline;
	margin: 0 10px 0 10px;
	border-bottom: 1px solid #F5B800;
	
	padding-bottom: 3px;
	
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif !important;
	font-size: 10pt;
	color: #F5B800;
}
.h h3 a {
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif !important;
	font-size: 10pt;
	color: #F5B800;
}
.h h3 a:hover {
	text-decoration: none;
}
.b h3 a {
	padding: 5px;
	border-radius: 5px;
	background: #222;
}
.b h3 a:hover {
	background: #111;
}
.hg {
	font-weight: bold;
}
.w {
	width: 50%;
	margin: 20px auto;
	padding: 4px;
	border
	border-radius: 5px;
	background: #161C26;
}
.w h3, .w p {
	margin: 0;
	text-align: center;
}
.z {
	display: none !important;
}

.profile {
	margin: 0 0 8px;
}
.profile h3 {
	display: inline;
	margin: 0;
	border-bottom: 1px solid #F5B800;
	padding-bottom: 3px;
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif !important;
	font-size: 13pt;
	color: #F5B800;
}

.smile {
	font-size: 20px;
}
.smile:hover {
	text-decoration: none;
	color: #A4DB00;
}

.ln, .ls_inline {
}
.ln ul, .ls_inline ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}
.ls_inline ul li {
	float: left;
	margin-left: 25px;
}

.ls ul {
	margin: 0 0 5px 25px;
	padding: 0;
	border: 0;
}
.ls ul ul {
	list-style: none;
	margin: 0;
	padding: 0px;
}
.ls ul li {
	padding: 5px 0 5px 0;
}
.ls ul li li {
	padding: 0;
}
.l2 ul li {
	margin: 3px 0 0 5px;
	width: 49%;
	float: left;
}
.l2 ul li img, .l3 ul li img {
	/*width: 100%;*/
}
.l2 ul li ul li, .l3 ul li ul li, .l6 ul li ul li {
	margin: 0;
	width: 100%;
	float: none;
	overflow: visible;
	height: auto;
}
.l2 ._, .lc ._, .l3 ._, .l6 ._ {
	margin: 5px 0 5px 5px;
}
.l2 .__, .lc .__, .l3 .__, .l6 .__ {
	margin: 5px 0 5px 0;
}
.lc ul li {
	margin-bottom: 10px;
}
.lc ul li ul li {
	margin-bottom: 0;
	text-align: center;
}
.l3 ul li {
	margin: 10px 0 0 5px;
	width: 32%;
	float: left;
}
.l6 ul li {
	margin: 0px 0 0 5px;
	width: 16%;
	height: 100px;
	float: left;
	overflow: hidden;
}

.el_left {
	float: left;
}
.el_right {
	float: right;
}

.is_left {
	width: 73%;
	float: left;
}
.is_right {
	width: 25%;
	float: right;
}
.is_left_i {
	width: 25%;
	float: left;
}
.is_right_i {
	width: 75%;
	float: right;
}
.is_mid {
	width: 50%;
	float: left;
}
.pad_left {
	margin-left: 10px;
}
.pad_right {
	margin-right: 10px;
}
.pad_top {
	margin-top: 10px;
}
.x2 {
	margin-top: 20px;
}
.x3 {
	margin-top: 30px;
}
.in_right {
	padding-right: 10px;
}

.a_left { text-align: left; }
.a_right { text-align: right; }
.a_mid { text-align: center; }
.i input, .i textarea {
	width: 100%;
}

._, ._ a, .__, .__ a {
	color: #9F9FA2 !important;
}

.ctl {
}
.ctl_lf {
	margin: 15px 0 0 43px;
}
.ctl_lw {
	margin: 25px 0 0 33px;
}
.ctl ul {
	list-style: none;
	margin: 0 0 0 0;
	padding: 0;
	border: 0;
}
.ctl ul li {
	float: left;
	margin-right: 25px;
}
.ctl ul li a, .ctl ul li strong, .ctl ul li span, .ctl input, .ctl ul li small {
	padding: 4px;
	border-radius: 4px;
	background: #5DA209;
	color: #fff;
}
.ctl ul li span, .ctl ul li strong {
	border: 1px solid #999;
}
.ctl ul li a:hover {
	text-decoration: none;
	background: #518c08;
}

.p {
	margin: 15px 0 15px 0;
	text-align: center;
	padding: 4px;
}
.p ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}
.p ul li {
	float: left;
	margin-right: 15px;
}
.p strong, .p a {
	line-height: 30px;
	text-decoration: none;
	padding: 5px;
	border-radius: 4px;
	background: #202837;
}
.p strong, .p a:hover {
	text-decoration: none;
	background: #5d8812;
}
.publish {
	margin: 0 auto;
}
.publish form {
	padding: 8px;
}
.publish input {
	display: block;
	margin: 10px 0 0 0;
	padding: 4px 8px 4px 8px;
	border-radius: 4px;
	background: #5DA209;
	color: #fff;
}
.publish textarea, .publish input.f {
	background: rgba(150,150,150,0.3);
}
.publish textarea {
	margin: 0 auto;
	display: block;
	width: 100%;
	border-radius: 4px;
}
.publish label {
	padding: 10px 0 0 0;
	margin: 0 10px 0 0;
}
.publish .f {
	display: inline;
	width: 25%;
}
.tt {
	background: #fff;
}

.nowrapcell {
	white-space: nowrap;
}
.nowraptext {
	overflow: auto;
}
.nowraptext a {
	color: #66CC33;
}

.comments {
	display: block;
	clear: both;
	margin: 0 2%;
}
.comments h3 span {
	position: absolute;
	left: -9999px;
	text-align: left;
}
.comments blockquote p.dtposted a {
	padding-left: 14px;
}
.comments h3 {
	position: relative;
	float: left;
	width: 20%;
	margin: 1em 0 0 0;
	padding: 1.5em 0 0 0;
	font-size: 1em;
	border-top: 1px solid #161C26;
	text-align: center;
}
.comments h3 strong {
	display: none;
	position: absolute;
	left: 0;
	top: -0.6em;
	padding: 0 0.2em 0 14px;
	font: 300 1.5em/1em arial,sans-serif;
	color: #b0b0a6;
}
.comments h3 em {
	display: block;
	text-align: center;
	font-size: 0.95em;
	font-style: normal;
	color: #fff;
}
.comments h3 cite {
	display: block;
	font-style: normal;
	margin: 4px 0 5px 0;
}
.comments blockquote div {
	/*font-size: 0.95em;*/
	line-height: 1.8em;
	color: #d0ced1;
}
.comments blockquote p.dtposted {
	position: absolute;
	top: -0.6em;
	right: 0;
	/*padding-left: 0.5;*/
	margin: 0;
	font-size: 7.5pt;
	line-height: auto;
	/*color: #8;*/
	text-align: right;
	background: #161C26;
}
.comments blockquote blockquote {
	overflow: hidden;
	margin: 1em 0;
	padding: 0.2em 1.25em 0.2em 24px;
	background: rgba(0,0,0,0.6);
	color:#d0ced1;
}
.comments blockquote blockquote {
	float: none;
	width: auto;
	margin: 1em 0;
	border: 0;
}
.comments blockquote {
	position: relative;
	float: right;
	width: 77%;
	margin: 1em 0 0 0;
	padding: 1.5em 0;
	border-top: 1px solid #161C26;
}
.comments h3 em img {
	padding: 1px;
}

.poll {
}
.poll .bar {
	display: block;
	border: 1px solid #161C26;
	height: 5px;
}
.poll .bar div {
	display: block;
	height: 5px;
	line-height: 5px;
	background: #70a416;
	border-right: 1px solid #161C26;
}

/* Clear Fix */
.clear {
	clear: both;
	display: block;
}
.clearfix {
	zoom: 1;
}
.clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.clearfix:after {
	clear: both;
}

/* Pretty Social */
html, body {
	height: 100%;
}
#ps_hover{
	left: 0;
	top: 0;
	position: absolute;
	z-index: 1000;
}
/*.ps_hd{
	background: url(style/tr.png) top right no-repeat;
	padding: 0 8px 0 0;
}
.ps_hd .ps_c {
	background: url(style/tl.png) top left no-repeat;
}
.ps_ft{
	background: url(style/br.png) top right no-repeat;
	padding: 0 8px 0 0;
}
.ps_ft .ps_c{
	background: url(style/bl.png) top left no-repeat;
}
.ps_bd {
	background: url(style/cr.png) top right repeat-y;
	padding: 0 8px 0 0;
}
.ps_bd .ps_c {
	background: url(style/cl.png) top left repeat-y;
	padding: 0 0 0 8px;
}*/
.ps_bd .ps_s {
}
.ps_hd,.ps_bd,.ps_ft {
	position: relative;
	z-index: 1000;
}
.ps_hd .ps_c,.ps_ft .ps_c {
	font-size: 1px;
	height: 8px;
}
#ps_title {
	background: url(style/tt_r.png) top right no-repeat;
	padding: 0 5px 0 0;
	/*color: #fff;*/
	font-size: 10px;
	font-weight: normal;
	left: 8px;
	position: absolute;
	top:0;
	z-index:999;
}
#ps_title .ps_tt_l {
	background: url(style/tt_l.png) top left no-repeat;
	line-height: 20px;
	padding: 0 0 0 5px;
}
#ps_tooltip {
	font-size: 10px;
	left: 0;
	position: absolute;
	top: 0;
	width: 250px;
	z-index: 1010;
}
#ps_tooltip p{
	margin: 0;
}
#ps_tooltip strong {
	font-size: 1.2em;
}
#ps_websites {
	left: 50%;
	position: absolute;
	top: 50%;
	z-index: 1005;
}
#ps_websites .ps_label {
	color: #fff;
	display: none;
	font-size: 2em;
	left: 0;
	position: absolute;
	top: 0;
	white-space: nowrap;
}
#ps_websites ul {
	list-style: none;
	position: relative;
	z-index: 1010;
	width:400px;
}
#ps_websites li {
	display: block;
	float: left;
	margin: 0 30px 40px 0;
}
#ps_websites a {
	display: block;
}
#ps_overlay {
	background: #000;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1005;
}

.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(style/switch.gif) repeat-x; display: block; float: left; }
.cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
.cb-enable span { background-position: left -90px; padding: 0 10px; }
.cb-disable span { background-position: right -180px;padding: 0 10px; }
.cb-disable.selected { background-position: 0 -30px; }
.cb-disable.selected span { background-position: right -210px; color: #fff; }
.cb-enable.selected { background-position: 0 -60px; }
.cb-enable.selected span { background-position: left -150px; color: #fff; }
.switch label { cursor: pointer; }
.switch input { display: none; }

<!-- INCLUDE css/check.css -->
