<!-- INCLUDE page.header.htm -->

<div class="company_title">En Rock Republik, somos una comunidad y plataforma de difusion de artistas en espa&ntilde;ol.</div>

<div class="company_sub">Tenemos 9 años en Internet, desde el 15 de marzo 2004. Nuestra comunidad brinda apoyo a mas de 250 artistas y tenemos mas de 25,000 usuarios registrados.</div>

<div class="pad_top">
	<div class="is_left_i">
		<div id="online">
			<!-- BEGIN hide -->
			<!-- INCLUDE community.online.htm -->
			<!-- END hide -->
		</div>
	</div>

	<div class="is_right_i">
		<div class="ln l2">
		<div class="h"><h3>{L_MEET_TEAM}</h3></div>
		<ul>
			<!-- BEGIN founders -->
			<li class="a_mid">
				<ul>
					<!-- BEGIN hide -->
					<li><a href="{founders.PROFILE}">{founders.USERNAME}</a></li>
					<!-- END hide -->
					<li class="_">{founders.REALNAME}</li>
					<li><a href="{founders.PROFILE}"><img src="{founders.AVATAR}" alt="" /></a></li>
				</ul>
			</li>
			<!-- END founders -->
		</ul>
		</div>

		<span class="clear"></span>

		<!-- BEGIN team -->
		<div class="pad_top ln l6">
			<div class="h"><h3>{L_COMM_TEAM}</h3></div>
			<ul>
				<!-- BEGIN row -->
				<li class="a_mid">
					<ul>
						<li class="_"><a href="{row.PROFILE}">{row.USERNAME}</a></li>
						<!-- BEGIN hide -->
						<li class="_"><!-- IF row.REALNAME != '' -->{row.REALNAME}<!-- ELSE -->--<!-- ENDIF --></li>
						<!-- END hide -->
						<li><a href="{row.PROFILE}"><img src="{row.AVATAR}" alt="{row.USERNAME}" /></a></li>
					</ul>
				</li>
				<!-- END row -->
			</ul>
		</div>

		<span class="clear"></span>
		<!-- END team -->
	</div>
</div>

<!-- BEGIN birthday -->
<span class="clear"></span>

<div class="pad_top ln l6">
	<div class="h"><h3>{L_TODAY_BIRTHS}</h3></div>
	<ul>
		<!-- BEGIN row -->
		<li class="a_mid pad_top">
			<ul>
				<li class="_"><a href="{row.PROFILE}">{row.USERNAME}</a></li>
				<li><a href="{row.PROFILE}"><img src="{row.AVATAR}" alt="{row.USERNAME}" /></a></li>
			</ul>
		</li>
		<!-- END row -->
	</ul>
</div>
<!-- END birthday -->

<!-- INCLUDE page.footer.htm -->