<span class="clear"></span>

</div>

<div id="footer"><a href="{S_SERVER}">{L_APPLICATION_FULL}</a> &copy; {S_YEAR} <!-- {S_SQL}{S_TIME}s --></div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{S_ASSETS}g.min.js" type="text/javascript"></script>

<!-- IF S_ANALYTICS != '' -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', '{S_ANALYTICS}', 'auto');
ga('send', 'pageview');
</script>
<!-- ENDIF -->

</body>
</html>