<span class="clear"></span>

</div>

<div id="footer"><a href="{S_SERVER}">{L_APPLICATION_FULL}</a> &copy; {S_YEAR}</div>

</div>

<!-- {S_SQL}{S_TIME}s -->

<!-- IF S_ANALYTICS != '' -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{S_ANALYTICS}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- ENDIF -->

</body>
</html>