<!-- INCLUDE page.header.htm -->

<div class="h"><h3>{L_SENDPASSWORD}</h3></div>

<!-- IF PAGE_MODE == 'nosubmit' || PAGE_MODE == 'verify' -->
<form action="{S_ACTION}" method="post">
<!-- ENDIF -->

<div class="pad_top a_mid x3">
	<!-- IF PAGE_MODE == 'nosubmit' -->
	<!-- ELSEIF PAGE_MODE == 'submit' -->
	{L_SENDPASSWORD2_EXPLAIN}
	<!-- ELSEIF PAGE_MODE == 'updated' -->
	{L_SENDPASSWORD4_EXPLAIN}
	<!-- ELSEIF PAGE_MODE == 'verify' -->
	{L_SENDPASSWORD3_EXPLAIN}
	<!-- ENDIF -->
</div>

<!-- IF PAGE_MODE == 'nosubmit' || PAGE_MODE == 'verify' -->
<div class="pad_top">
	<!-- IF PAGE_MODE == 'nosubmit' -->
	<label for="email1">{L_EMAIL}:</label> <input type="text" id="address" name="address" size="40" maxlength="255" value="" /> <input type="submit" name="submit" value="{L_CONTINUE}" />
	<!-- ELSEIF PAGE_MODE == 'verify' -->
	<label for="email1">{L_NEW_PASSWORD}:</label> <input type="password" id="newkey" name="newkey" size="40" maxlength="255" value="" /> <input type="submit" name="submit" value="{L_CONTINUE}" />
	<!-- ENDIF -->
</div>
</form>
<!-- ENDIF -->

<!-- INCLUDE page.footer.htm -->