/***************************************************************************

   $Id: style.css,v 1.2 2006/02/19 19:00:55 Psychopsia Exp $
	 
***************************************************************************/

html {
	overflow-x: auto; /* fixes MSIE scrollbar bug DO NOT REMOVE, has no effect in Mozilla, or Opera */
}

body {
	margin: 0px;
	cursor: default;
	background-color: #D8D9D9;
	scrollbar-face-color: #B9BBBB;
	scrollbar-highlight-color: #C1C2C3;
	scrollbar-shadow-color: #B9BBBB;
	scrollbar-3dlight-color: #B9BBBB;
	scrollbar-arrow-color:  #666666;
	scrollbar-track-color: #D6D7D6;
	scrollbar-darkshadow-color: #B9BBBB;
}

font, th, td, p, a:link, a:active, a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #444444;
	text-decoration: none;
}

img {
	border: 0; /* makes sure linked images do not have a border */
	vertical-align: middle;
}

a:link, a:hover, a:active, a:visited {
	cursor: hand;
}

a:hover {
	text-decoration: none;
	color: #444444;
}

.bodyline {
	background-color: #DDDEDF;
}

.forumline {
	background-color: #CDCDCF;
	border: 2px #818180 groove;
}

td.rowpic {
	background-color: #CDCDCF;
}

th {
	color: #444444;
	font-size: 10px;
	font-weight: bold;
	height: 28px;
	background-image: url(../images/grad_gen.gif);
}

td.cat, td.catHead, .catHead, .catHeadB, .catHeadBS {
	background-image: url(images/grad_gen.gif);
	background-color:#CDCDCF;
	height: 28px;
	border-width: 0px 0px 0px 0px;
	}
.catHeadB, .catHeadBS {
	color: #444444;
}
.catHeadB {
	font-weight: bold;
}
.catHeadBS {
	font-weight: normal;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border-style: none; height: 28px;
}
td.row3Right,td.spaceRow {
	border: 2px groove #666666;
	background-color:#CDCDCF;
}

th.thHead,td.catHead { font-size: 10px; border-width: 1px 1px 0px 1px; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 1px 0px 1px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 1px 0px 0px; }

.maintitle,h1,h2	{
	font-weight: bold; font-size: 14px; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none; line-height: 120%; color: #444444;
}
.gen, .genmed, .gensmall {
	color: #444444;
	font-size: 10px;
}
a.gen,a.genmed,a.gensmall { text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #555555; text-decoration: underline; }
.mainmenu		{ font-size: 10px; color: #444444 }
a.mainmenu		{ text-decoration: none; color: #444444;  }
a.mainmenu:hover{ text-decoration: underline; color: #555555; }
.cattitle		{ font-weight: bold; font-size: 10px ; letter-spacing: 1px; color: #444444}
a.cattitle		{ text-decoration: none; color: #444444; }
a.cattitle:hover{ text-decoration: underline; }
.forumlink		{ font-weight: bold; font-size: 10px; color: #444444; }
a.forumlink 	{ text-decoration: none; color: #444444; }
a.forumlink:hover{ text-decoration: underline; color: #555555; }
.nav			{ font-weight: bold; font-size: 10px; color: #444444;}
a.nav			{ text-decoration: none; color: #444444; }
a.nav:hover		{ text-decoration: underline; }
.topictitle			{ font-weight: bold; font-size: 10px; color: #444444; }
a.topictitle:link   { text-decoration: none; color: #444444; }
a.topictitle:visited { text-decoration: none; color: #444444; }
a.topictitle:hover	{ text-decoration: underline; color: #555555; }
.name			{ font-size: 10px; color: #444444;}
.postdetails		{ font-size: 10px; color: #444444; }
.postbody { font-size: 10px;}
a.postlink:link	{ text-decoration: none; color: #444444 }
a.postlink:visited { text-decoration: none; color: #444444; }
a.postlink:hover { text-decoration: underline; color: #555555}
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 10px; color: #8F0C0C;
	background-color: #CDCDCF;
	border: 1px solid #666666;
}
.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #05396A; line-height: 125%;
	background-color: #CDCDCF;
	border: 1px solid #666666;
}
.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #A0A0A0; letter-spacing: -1px;}
a.copyright		{ color: #A0A0A0; text-decoration: none;}
a.copyright:hover { color: #BBBBBB; text-decoration: underline;}

input, textarea, select {
	color: #444444;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #666666;
	background-color: #CDCDCF;
}
input.post, textarea.post, select {
	border: 1px solid #666666;
}
input { text-indent: 2px; }
input.button {
	background-color: #CDCDCF;
	color: #444444;
	font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif;
}
input.bold {
	background-color: #CDCDCF;
	font-weight: bold;
}
input.liteoption {
	background-color: #CDCDCF;
	font-weight: normal;
}
.helpline {
	background-color: #CDCDCF;
	border: 1px solid #666666;
	color: #333333;
	cursor: default;
}

/*-- mod : profile cp --*/
.foundercolor, a.foundercolor, a.foundercolor:link, a.foundercolor:active, a.foundercolor:visited {
	color: #004080;
	font-weight: bold;
}
a.foundercolor:hover {
	color:	#0040BF;
	text-decoration: none;
}

.admincolor, a.admincolor, a.admincolor:link, a.admincolor:active, a.admincolor:visited {
	color: #BF0000;
	font-weight: bold;
}
a.admincolor:hover {
	color:	#FF0000;
	text-decoration: none;
}

.modcolor, a.modcolor, a.modcolor:link, a.modcolor:active, a.modcolor:visited {
	color: #B46936;
	font-weight: bold;
}
a.modcolor:hover {
	color:	#985E37;
	text-decoration: none;
}

.usercolor, a.usercolor, a.usercolor:link, a.usercolor:active, a.usercolor:visited {
	color : #444444;
	font-weight: bold;
}
a.usercolor:hover {
	color: #555555;
	text-decoration: none;
}
/*-- fin mod : profile cp --*/

.mmb/*, td.row1, td.row2, td.row3*/ {
	border: 1px solid #536067;
}

table.adminhdr {
	background-color: #D7D7D7;
	margin: 0px;
	padding: 5px;
	border: 1px solid #536067;
	border-spacing: 0px;
	width: 99%;
	border-collapse: collapse;
	text-align: center;
}

table.adminlist {
	background-color: #999999;
	margin: 0px;
	padding: 5px;
	border: 0px none;
	border-spacing: 0px;
	width: 100%;
	border-collapse: collapse;
}

table.adminlist tr.hdr {
	background-color: D8E2E7;
	height: 30px;
}

table.adminlist tr.row1 {
	background-color: #F5F5F5;
}
table.adminlist tr.row2 {
	background-color: #FFF;
}

table.adminlist td.row1 {
	background-color: #F5F5F5;
}
table.adminlist td.row2 {
	background-color: #FFF;
}

table.adminlist td.title {
	text-align: center;
}

table.adminlist hr.umod {
	color: #999999;
	size: 1px;
	width: 100%;
	height: 1px;
}

table.adminlist input.row1 {
	background-color: #F5F5F5;
}

table.adminlist input.row2 {
	background-color: #FFF;
}

table.adminlist textarea.row1 {
	background-color: #F5F5F5;
}

table.adminlist textarea.row2 {
	background-color: #FFF;
}

table.adminlist .row3 {
	background-color: #E7E7E7;
}

.tsp {
	background-image: url();
	background-color: transparent !important;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	clear: none;
	float: none;
	border: 0px none;
}

/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formIE.css");