<!-- INCLUDE page.header.htm -->
<!-- INCLUDE acp/artist_header.htm -->

<div class="h"><h3>{L_CONTROL_A_DOWNLOADS}</h3></div>

<form action="{_SELF}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="MAX_FILE_SIZE" value="{S_UPLOAD}" />
	
	<!-- BEGIN error -->
	{error.MESSAGE}
	<!-- END error -->
	
	<div class="">Los archivos deben ser formato <em>mp3</em>:</div>
	<div class="pad_top"><input type="file" name="create" size="25" /></div>
	<div class="pad_top"><input class="submit" type="submit" name="submit" value="{L_SUBMIT}" /></div>
	
	<!-- BEGIN media -->
	<div class="pad_top ln l4 a_mid">
		<ul>
			<!-- BEGIN row -->
			<li>
				<ul>
					<li><a href="{row.URL}"><img src="{row.IMAGE_TYPE}" /></a></li>
					<li><a href="{row.URL}">{row.DOWNLOAD_TITLE}</a></li>
					<li>{row.VIEWS}v <span class="soft">|</span> {row.DOWNLOADS}d</li>
					<li><input type="checkbox" class="none" name="s_downloads[]" value="{row.ITEM}" /></li>
					<li></li>
				</ul>
				
				<!-- BEGIN hide -->
				<input type="checkbox" name="ls_images[]" value="{row.ITEM}" /><br /><a class="fancy" href="{row.RIMAGE}"><img src="{row.IMAGE}" alt="" /></a>
				<!-- END hide -->
				</li>
			<!-- END row -->
		</ul>
	</div>
	
	<span class="clear"></span>
	
	<div class="x2"><input type="submit" class="remove" name="remove" value="{L_DELETE_MARKED}" /></div>
	<!-- END media -->
</form>

<!-- INCLUDE page.footer.htm -->