<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rock Republik: {PAGE_TITLE}</title>
<link rel="stylesheet" type="text/css" href="http://www.rockrepublik.net/css/style.css" />
<script src="{S_SERVER}/net/scripts/prototype.js" type="text/javascript"></script>
<script src="{S_SERVER}/net/scripts/scriptaculous.js" type="text/javascript"></script>
</head>

<body>
<a name="top"></a>

<script type="text/javascript">
//<![CDATA[
if (document.all && document.styleSheets && document.styleSheets[0] && document.styleSheets[0].addRule)
{
  document.styleSheets[0].addRule('*', 'behavior: url(/rkradio/static/iepngfix.htc)');
}
//]]>
</script>

<div id="container">
	<div id="header">
		<h1><a href="http://www.rockrepublik.net/">Rock Republik Networks</a></h1>
		<h1><a href="http://www.rkradio.net/">Rock Republik Radio</a></h1>
	</div>
	
	<div id="listen">
		<a class="winamp" href="http://www.rockrepublik.net/home/radio/player/listen.pls">Winamp</a>
		<span> | </span><a class="windowsmedia" href="http://www.rockrepublik.net/home/radio/player/wmp.asx">Windows Media</a>
		<span> | </span><a class="itunes" href="http://www.rockrepublik.net/home/radio/player/itunes.m3u">iTunes</a>
		<span> | </span><a class="realplayer" href="http://www.rockrepublik.net/home/radio/player/realplayer.ram">Real Player</a>
		<span> | </span><a class="vlc" href="http://www.rockrepublik.net/home/radio/player/vlc.pls">VLC</a>
	</div>
	
	<div id="account">
		<!-- IF !(IS_MEMBER) --><form action="{U_SESSION}" method="post"><input type="hidden" name="ref" value="{S_REDIRECT}" /><!-- ENDIF -->
		<!-- IF IS_MEMBER -->
		<a style="color: #{MEMBER_COLOR}; font-weight: bold" href="{U_PROFILE}">{S_USERNAME}</a> | <a href="{U_WHATS_NEW}">{S_UNREAD_ITEMS}</a> | <a href="{U_EDITPROFILE}">{L_PREFERENCES}</a><!-- IF S_CONTROLPANEL != '' --> | <a href="{S_CONTROLPANEL}">{L_CONTROL_PANEL}</a><!-- ENDIF --> | <a class="red" href="{U_SESSION}">{L_LOGOUT2}</a>
		<!-- ELSE -->
		<div>{L_USERNAME}: <input class="normal" type="text" name="username" size="15" maxlength="25" value="" />&nbsp;&nbsp;&nbsp;{L_PASSWORD}: <input type="password" name="password" size="15" maxlength="32" value="" />&nbsp;&nbsp;&nbsp;<input class="bold" type="submit" name="login" value="{L_LOGIN}" />
		<br /><a href="{U_REGISTER}">{L_REGISTER}</a> | <a href="{U_SPASSWORD}">{L_SENDPASSWORD}</a></div>
		<!-- ENDIF -->
		<!-- IF !(IS_MEMBER) -->
		</form>
		<!-- ENDIF -->
	</div>
	
	<div id="custom">
		<div id="topic-header" class="ie-widthfix float-holder">
			<div class="float-left col-50">
				<h3><a href="{U_FORUM}">{L_FORUM_INDEX}</a></h3>
				<h3><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a></h3>
			</div>
			<div class="float-right col-50" align="right">
				<!-- BEGIN rdjk -->
				<script type="text/javascript">
				//<![CDATA[
				var djk = {
					s: 16,
					st: 0,
					proc: function()
					{
						var v = {
							asynchronous: true,
							method: 'post',
							postBody:'ajax=1&hash={rdjk.V_HASH}',
							onSuccess: djk.callback,
							onFailure: Prototype.emptyFunction
						}
						new Ajax.Request('{rdjk.U_KICK}', v);
					},
					callback: function()
					{
						$('djki').hide();
						djk.stop();
					},
					stop: function()
					{
						djk.s = djk.s - 1;
						if (!djk.s)
						{
							clearTimeout(djk.st);
							$('djki').show();
							$('djkc').hide();
							djk.s = 16;
						}
						else
						{
							$('djkc').show();
							Element.update('djkc', djk.s + ' {L_RADIO_DJKR}');
							djk.st = setTimeout("djk.stop()", 1000);
						}
						return;
					}
				}
				//]]>
				</script>
				<div><h3>{L_RADIO_DJK}&nbsp;&nbsp;</h3></div>
				<div>
					<img id="djki" src="/net/images/djki.png" alt="" />
					<span id="djkc" style="display: none;"></span>
				</div>
				<script type="text/javascript">
				//<![CDATA[
				Event.observe('djki', 'click', djk.proc);
				//]]>
				</script>
				<!-- END rdjk -->
			</div>
		</div>
		
		<div class="topic-controls ie-widthfix float-holder">
			<div class="float-left col-50">
				<!-- BEGIN create_topic --><a href="#create">{L_POST_NEWTOPIC}</a><!-- END create_topic -->
			</div>
			<div class="float-right col-50">
				<!-- IF PAGES_PREV != '' || PAGES_NEXT != '' -->{PAGES_NUMS}<!-- ENDIF -->
			</div>
		</div>
		
		<div id="topic-post">
			<!-- BEGIN topics -->
			<!-- BEGIN item -->
			<div class="postitem ie-widthfix float-holder">
				<div class="float-left col-75">
					<div>{item.TOPIC_TYPE}<a href="{item.U_TOPIC}" class="red"><strong>{item.TOPIC_TITLE}</strong></a> &lt;{item.REPLIES}m<!-- IF item.VIEWS -->, {item.VIEWS}v<!-- ENDIF -->&gt;</div>
					<div>{item.TOPIC_AUTHOR} ~ {item.TOPIC_CREATION_TIME}</div>
				</div>
				<div class="float-right col-25">
					{item.LAST_POST_AUTHOR}<br />{item.LAST_POST_TIME}
				</div>
			</div>
			<!-- END item -->
			<!-- END topics -->
		</div>
		
		<!-- IF PAGES_PREV != '' || PAGES_NEXT != '' -->
		<div class="topic-controls ie-widthfix float-holder">{PAGES_NUMS}</div>
		<!-- ENDIF -->
		
		<div id="post-create">
			<a name="create"></a>
			<h2>{L_POST_NEWTOPIC}</h2>
			<!-- BEGIN posting_box -->
			<!-- BEGIN box -->
			<form action="{box.S_POST_ACTION}" method="post" name="post">
			<div class="pad6">
			<div class="legend"><label for="t-title">{L_TOPIC_TITLE}</label></div>
			<div class="sep"><input id="t-title" name="topic_title" size="90" value="{box.TOPIC_TITLE}" /></div>
			<div class="legend"><label for="t-reply">{L_POST}</label> | <a onclick="return popup('{S_EMOTICONS}', '_emoticons', 300, 450);" href="{S_EMOTICONS}" target="_blank">{L_EMOTICONS}</a></div>
			<div class="sep"><textarea id="t-message" name="message" cols="90" rows="10">{box.MESSAGE}</textarea></div>
			<div class="legend orange bold"><label for="t-np">{L_NOWPLAYING}</label></div>
			<div class="sep"><input id="t-np" name="np" size="90" value="{box.NP}" /></div>
			<div class="sep3"><input class="w50 bold" type="submit" name="post" value="{L_SUBMIT}" /></div>
			</div>
			</form>
			<!-- END box -->
			<!-- BEGIN only_registered -->
			<div align="center" class="pad12"><h2>{only_registered.LEGEND}</h2></div>
			<!-- END only_registered -->
			<!-- BEGIN not_allowed -->
			<div align="center" class="pad12"><br /><h2>{not_allowed.LEGEND}</h2><br /></div>
			<!-- END not_allowed -->
			<!-- END posting_box -->
		</div>
		
		<div id="topic-footer" class="float-holder ie-widthfix">
			<div class="col-50 float-left"><a class="purple" href="http://www.rockrepublik.net">Rock Republik Networks</a> <strong>v{S_VERSION}</strong><br />&copy; Copyright 2004-2007<br /><br /><a class="purple" href="mailto:info&#64;rockrepublik.net">info&#64;rockrepublik.net</a></div>
			<div class="col-50 float-right"><a href="{U_HELP}">{L_HELP}</a> | <a href="{U_TOS}">{L_TOS}</a><br /><br /><br />{F_SQL}{F_TIME}s</div>
		</div>
	</div>
</div>

</body>
</html>