<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rock Republik: {PAGE_TITLE}</title>
<link rel="stylesheet" type="text/css" href="http://www.rockrepublik.net/css/style.css" />
</head>

<body>
<a name="top"></a>

<script type="text/javascript">
//<![CDATA[
if (document.all && document.styleSheets && document.styleSheets[0] && document.styleSheets[0].addRule)
{
  document.styleSheets[0].addRule('*', 'behavior: url(/rkradio/static/iepngfix.htc)');
}
//]]>
</script>

<div id="container">
	<div id="header">
		<h1><a href="http://www.rockrepublik.net/">Rock Republik Networks</a></h1>
		<h1><a href="http://www.rkradio.net/">Rock Republik Radio</a></h1>
	</div>
	
	<div id="listen">
		<a class="winamp" href="http://www.rockrepublik.net/home/radio/player/listen.pls">Winamp</a>
		<span> | </span><a class="windowsmedia" href="http://www.rockrepublik.net/home/radio/player/wmp.asx">Windows Media</a>
		<span> | </span><a class="itunes" href="http://www.rockrepublik.net/home/radio/player/itunes.m3u">iTunes</a>
		<span> | </span><a class="realplayer" href="http://www.rockrepublik.net/home/radio/player/realplayer.ram">Real Player</a>
		<span> | </span><a class="vlc" href="http://www.rockrepublik.net/home/radio/player/vlc.pls">VLC</a>
	</div>
	
	<div id="account">
		<!-- IF !(IS_MEMBER) --><form action="{U_SESSION}" method="post"><input type="hidden" name="ref" value="{S_REDIRECT}" /><!-- ENDIF -->
		<!-- IF IS_MEMBER -->
		<a style="color: #{MEMBER_COLOR}; font-weight: bold" href="{U_PROFILE}">{S_USERNAME}</a> | <a href="{U_WHATS_NEW}">{S_UNREAD_ITEMS}</a> | <a href="{U_EDITPROFILE}">{L_PREFERENCES}</a><!-- IF S_CONTROLPANEL != '' --> | <a href="{S_CONTROLPANEL}">{L_CONTROL_PANEL}</a><!-- ENDIF --> | <a class="red" href="{U_SESSION}">{L_LOGOUT2}</a>
		<!-- ELSE -->
		<div>{L_USERNAME}: <input class="normal" type="text" name="username" size="15" maxlength="25" value="" />&nbsp;&nbsp;&nbsp;{L_PASSWORD}: <input type="password" name="password" size="15" maxlength="32" value="" />&nbsp;&nbsp;&nbsp;<input class="bold" type="submit" name="login" value="{L_LOGIN}" />
		<br /><a href="{U_REGISTER}">{L_REGISTER}</a> | <a href="{U_SPASSWORD}">{L_SENDPASSWORD}</a></div>
		<!-- ENDIF -->
		<!-- IF !(IS_MEMBER) -->
		</form>
		<!-- ENDIF -->
	</div>
	
	<div id="custom">
		<div id="topic-header" class="ie-widthfix float-holder">
			<div class="float-left col-50">
				<h3><a href="{U_FORUM}">{L_FORUM}</a> &raquo; <a href="{U_VIEW_FORUM}">{FORUM_NAME}</a></h3>
				<h3><a href="{S_TOPIC_ACTION}">{TOPIC_TITLE}</a></h3>
				<strong>{TOPIC_REPLIES}</strong> <!-- IF TOPIC_REPLIES == 1 -->{L_TOPIC_REPLY}<!-- ELSE -->{L_TOPIC_REPLIES}<!-- ENDIF -->
			</div>
			<div class="float-right col-50" align="right">
				<!-- BEGIN order_posts -->
				<form action="{S_TOPIC_ACTION}" method="post">
				<div class="sep2">{L_TOPIC_ORDER}:</div>
				<select name="topicorder" onchange="this.form.submit();">{order_posts.SELECT_ORDER}</select>
				<noscript>
				&nbsp;<input type="submit" value=" {L_GO} " />&nbsp;
				</noscript>
				</form>
				<!-- END order_posts -->
			</div>
		</div>
		
		<div class="topic-controls ie-widthfix float-holder">
			<div class="float-left col-50">
				<!-- BEGIN post_box --><a href="#reply">{L_POST_REPLY}</a><!-- END post_box -->
			</div>
			<div class="float-right col-50">
				<!-- IF PAGES_PREV != '' || PAGES_NEXT != '' -->{PAGES_NUMS}<!-- ENDIF -->
			</div>
		</div>
		
		<!-- BEGIN poll -->
		<div id="topic-poll">
			<!-- BEGIN options -->
			<form method="post" action="{options.S_VOTE_ACTION}">
			<!-- END options -->
			<div class="box color">
			<div class="head">{L_POLL}</div>
			<div class="pad12" align="center">
			<div class="bold sep2">{poll.POLL_TITLE}</div>
			<div class="ie-widthfix">
			<!-- BEGIN results -->
			<div class="pollresult">
			<!-- BEGIN item -->
			<div class="sep sep2-top bold red">{item.CAPTION} <span class="orange">[{item.RESULT}]</span> <span>{item.PERCENT}%</span></div>
			<div class="box sub-color bar"><div class="small dark2-color" style="width: {item.PERCENT}%;" title="{L_UB_ORDER_VOTES}: {item.RESULT}">&nbsp;</div></div>
			<!-- END item -->
			</div>
			<!-- END results -->
			<!-- BEGIN options -->
			<div class="w50" align="center">
			<!-- BEGIN item --><div class="pad3" align="left"><input class="none" type="radio" id="vo_{item.POLL_OPTION_ID}" name="vote_id" value="{item.POLL_OPTION_ID}" />&nbsp;<label for="vo_{item.POLL_OPTION_ID}">{item.POLL_OPTION_CAPTION}</label></div><!-- END item -->
			</div>
			<!-- END options -->
			</div>
			<!-- BEGIN options -->
			<div class="sep2-top"><input type="submit" name="vote" value="{L_VOTE}" class="w100p bold" /></div>
			<!-- END options -->
			</div>
			<!-- BEGIN options -->
			</form>
			<!-- END options -->
		</div>
		<!-- END poll -->
		
		<div id="topic-post">
			<!-- BEGIN posts -->
			<a name="first"></a>
			<!-- BEGIN item -->
			<a name="{item.POST_ID}"></a>
			<div class="postitem float-holder ie-widthfix">
			<div class="username col-25 float-left">
				<a href="{item.PROFILE}"><img src="{item.USER_AVATAR}" alt="{item.USERNAME}" /><span style="color: #{item.USER_COLOR};">{item.USERNAME}</span></a>
			</div>
			<div class="col-75 float-right orange nowraptext">
				<div class="timestamp"><a href="#top">^</a> {item.POST_DATE}<!-- BEGIN controls --><!-- BEGIN reply --> :: <a href="{reply.URL}">{L_CMT_REPLY}</a><!-- END reply --><!-- BEGIN edit --> :: <a href="{edit.URL}">{L_CMT_EDIT}</a><!-- END edit --><!-- BEGIN delete --> :: <a onclick="return confirm('&iquest;Confirmas borrar el mensaje?');" href="{delete.URL}">{L_CMT_DELETE}</a><!-- END delete --><!-- END controls --></div><br />
				<div align="left">{item.MESSAGE}</div>
				<!-- IF item.PLAYING != '' --><br /><div align="right" class="purple">{item.PLAYING} &nbsp; <img class="middle" src="/net/smiles/arkane.png" alt="" /></div><!-- ENDIF -->
			</div>
			
			</div>
			<!-- END item -->
			<!-- END posts -->
		</div>
		
		<!-- IF PAGES_PREV != '' || PAGES_NEXT != '' -->
		<div class="topic-controls ie-widthfix float-holder">{PAGES_NUMS}</div>
		<!-- ENDIF -->
		
		<div id="post-create">
			<a name="reply"></a>
			<h2>{L_POST_REPLY_BOX}</h2>
			<!-- BEGIN post_box -->
			<form action="{post_box.S_POST_ACTION}" method="post" name="post">
			<div class="pad6">
			<div class="legend"><label for="t-reply">{L_POST}</label> | <a onclick="return popup('{S_EMOTICONS}', '_emoticons', 300, 450);" href="{S_EMOTICONS}" target="_blank">{L_EMOTICONS}</a></div>
			<div class="sep"><textarea id="t-reply" name="message" cols="70" rows="10">{post_box.MESSAGE}</textarea></div>
			<!-- BEGIN reply -->
			<div class="legend"><label for="t-reply">{L_ORIGINAL_POST}</label></div>
			<div class="sep"><textarea id="t-reply" name="reply_message" cols="70" rows="7">{reply.MESSAGE}</textarea></div>
			<!-- END reply -->
			<div class="legend orange bold"><label for="t-np">{L_NOWPLAYING}</label></div>
			<div class="sep"><input id="t-np" name="np" size="70" value="{post_box.NP}" /></div>
			<div class="sep3"><input class="w50 bold" type="submit" name="post" value="{L_SUBMIT}" /></div>
			</div>
			</form>
			<!-- END post_box -->
			<!-- BEGIN post_members -->
			<div align="center" class="pad12"><h2>{post_members.LEGEND}</h2></div>
			<!-- END post_members -->
			<!-- BEGIN post_not_allowed -->
			<div align="center" class="pad12"><br /><h2>{post_not_allowed.LEGEND}</h2><br /></div>
			<!-- END post_not_allowed -->
		</div>
		
		<div id="topic-footer" class="float-holder ie-widthfix">
		<div class="col-50 float-left"><a class="purple" href="http://www.rockrepublik.net">Rock Republik Networks</a> <strong>v{S_VERSION}</strong><br />&copy; Copyright 2004-2007<br /><br /><a class="purple" href="mailto:info&#64;rockrepublik.net">info&#64;rockrepublik.net</a></div>
		<div class="col-50 float-right"><a href="{U_HELP}">{L_HELP}</a> | <a href="{U_TOS}">{L_TOS}</a><br /><br /><br />{F_SQL}{F_TIME}s</div>
		</div>
	</div>
</div>

</body>
</html>