<!-- INCLUDE page.header.htm -->

<div class="h"><h3>{L_HELP}<!-- BEGIN module --> &mdash; {module.TITLE}<!-- END module --></h3></div>

<!-- BEGIN categories -->
<div class="is_left_i ls">
	<ul>
		<!-- BEGIN row -->
		<li><a href="{row.URL}">{row.TITLE}</a></li>
		<!-- END row -->
	</ul>
</div>
<!-- END categories -->

<!-- BEGIN module -->
<div class="is_right_i ls">
	<ul id="faq">
		<!-- BEGIN row -->
		<li>
			<h2 class="question">{row.QUESTION}</h2>
			<br />
			<p class="answer">{row.ANSWER}</p>
		</li>
		<!-- END row -->
	</ul>
</div>
<!-- END module -->

<!-- INCLUDE page.footer.htm -->
