<!-- INCLUDE page.header.htm -->

<div class="rows5_top <!-- IF category.S_ROW_COUNT -->rows5_top_1 <!-- ENDIF -->">
	<div class="h"><h3>Aliados Rock Republik</h3></div>
	
	<div class="rows5_top_4"><div class="black_box a_center">{L_ALLIES_DESCRIPTION}</div></div>
</div>

<div class="ie-widthfix float-holder">
	<!-- BEGIN hidden -->
	<div class="a_mid">
		<script type="text/javascript"><!--
		google_ad_client = "pub-1554771546738622";
		google_ad_slot = "8070294281";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
	</div>
	<!-- END hidden -->
	
	<!-- BEGIN partners -->
	<div>
		<ul>
			<!-- BEGIN row -->
			<li><a href="{row.URL}" target="_blank"><img src="{row.IMAGE}" alt="{row.NAME}" /></a><h2><a href="{row.URL}" target="_blank">{row.NAME}</a></h2></li>
			<!-- END row -->
		</ul>
	</div>
	<!-- END partners -->
</div>

<!-- INCLUDE page.footer.htm -->