<div class="float-holder ie-widthfix">
	<div class="float_left col60 a_center">
		<!-- BEGIN ub_image --><!-- BEGIN view --><a href="{view.URL}"><!-- END view --><img src="{S_SERVER}{ub_image.IMAGE}" alt="{UNAME}" /><!-- BEGIN view --></a><!-- END view --><!-- END ub_image -->
	</div>
	<div id="poll" class="float_right col40">
		<div class="section"><h1>{L_UB_RATE}</h1></div>
		<!-- BEGIN ub_poll -->
		<!-- BEGIN options -->
		<form action="{options.S_VOTE_ACTION}" method="post" name="vote_ub" onsubmit="return _.glob.in_sending('avote');">
		<!-- END options -->
		
		<div class="rows5_top_1">
		<ul class="ul_none">
		<!-- BEGIN results -->
		<!-- BEGIN item -->
		<li>
		<div class="caption">{item.CAPTION} <span>({item.RESULT})</span></div>
		<div class="bar"><div style="width: {item.PERCENT}%;">&nbsp;</div></div>
		</li>
		<!-- END item -->
		<!-- END results -->
		<!-- BEGIN options -->
		<!-- BEGIN item -->
		<li class="a_left rows5_top_1"><input class="none" type="radio" id="vo_{item.ID}" name="vote_id" value="{item.ID}" /> <label for="vo_{item.ID}">{item.CAPTION}</label></li>
		<!-- END item -->
		<!-- END options -->
		</ul>
		<!-- BEGIN options -->
		<div class="rows5_top_1 a_center"><input class="submit" type="submit" name="vote" value="{L_VOTE}" /></div>
		<!-- END options -->
		</div>
		<!-- BEGIN options -->
		</form>
		<!-- END options -->
		<!-- END ub_poll -->
	</div>
</div>

<!-- BEGIN events_future -->
<div class="rows5_top_2"><div class="section"><h1>{L_EVENTS_NEXT}</h1></div></div>
<div class="nowraptext">
	<!-- BEGIN set -->
	<div<!-- IF set.S_ROW_COUNT --> class="rows5_top rows5_top_3"<!-- ENDIF -->><div class="section"><h1>{set.L_TITLE}</h1></div></div>
	<ul class="ul_none">
		<!-- BEGIN item -->
		<li class="a_center<!-- IF item.S_ROW_COUNT --> rows5_top_3<!-- ENDIF -->"><span class="relevant">{item.TITLE}</span><br />{item.DATE}<br /><br /><img src="{item.SRC}" alt="" /></li>
		<!-- END item -->
	</ul>
	<!-- END set -->
</div>
<!-- END events_future -->

<!-- BEGIN news_create -->
<div class="cols5_left rows5_top_2 a_controls a_left"><a href="{news_create.URL}">{L_A_NEWS_CREATE}</a></div>
<!-- END news_create -->
<!-- BEGIN news -->
<div class="comments rows5_top_2">
	<a name="first"></a>
	<!-- BEGIN item -->
	<a name="n{item.POST_ID}"></a>
	<div id="comment-{item.S_ROW_COUNT}">
	<h3><strong>{item.S_ROW_COUNT}</strong><span>.</span> <em><!-- BEGIN username --><a href="{item.PROFILE}"><!-- END username --><img src="{item.USER_AVATAR}" alt="{item.USERNAME}'s Avatar" /><!-- BEGIN username --></a><!-- END username --></em><cite><!-- BEGIN username --><a href="{item.PROFILE}"><!-- END username -->{item.USERNAME}<!-- BEGIN username --></a><!-- END username --></cite> <span>dijo:</span></h3>
	<blockquote>
	<!-- BEGIN controls -->
	<div class="rows5_bot_1 rows5_top a_controls a_right"><!-- BEGIN topic --><a href="{topic.VIEW}">{L_COMMENTS}: {item.REPLIES}</a> <a href="{topic.POST}">{L_CMT_REPLY}</a><!-- END topic --><!-- BEGIN auth --> <a href="{auth.EDIT}">{L_CMT_EDIT}</a> <a href="{auth.DELETE}">{L_CMT_DELETE}</a><!-- END auth --></div>
	<!-- END controls -->
	<div class="nowraptext">
		<!-- BEGIN controls --><!-- BEGIN topic --><div class="section"><h1><a href="{topic.VIEW}">{item.SUBJECT}</a></h1></div><!-- END topic --><!-- END controls -->
		{item.MESSAGE}</div>
	<p class="dtposted">{item.DATETIME}</p>
	</blockquote>
	<hr /></div>
	<!-- END item -->
</div>
<!-- END news -->

<!-- BEGIN recent_members -->
<div id="latest" class="rows5_top_2">
	<!-- BEGIN col -->
	<div class="float_<!-- IF col.S_ROW_COUNT -->right cols5_left<!-- ELSE -->left<!-- ENDIF --> col49">
	<div class="section"><h1>{col.TITLE}</h1></div>
	<ul class="ul_none">
		<!-- BEGIN item -->
		<li><div class="float_left"><a class="uunique relevant" href="{item.PROFILE}">{item.USERNAME}</a></div><div class="nowrapcell a_right">{item.DATETIME}</div></li>
		<!-- END item -->
	</ul>
	</div>
	<!-- END col -->
</div>
<!-- END recent_members -->