<!-- BEGIN video -->
<div class="a_center">
<!-- BEGIN row -->
<div class="rows5_top_2 rows5_bot_1">
<div class="a_center relevant_artist">{row.NAME}</div>
<div class="rows5_top_1"><object width="425" height="355"><param name="movie" value="http://www.youtube.com/v/{row.CODE}&hl=en"></param><param name="wmode" value="transparent"></param><embed src="http://www.youtube.com/v/{row.CODE}&hl=en" type="application/x-shockwave-flash" wmode="transparent" width="425" height="355"></embed></object></div>
</div>
<!-- END row -->
</div>
<!-- END video -->